@import "variables.css";

.banners {
    display: flex;
    justify-content: space-between;
    gap: 3.4%;
}

.banner {
    width: 100%;
    height: calc(100vw * calc(389/ var(--reference-display-w)));
    background: transparent;

    display: flex;
    align-items: flex-end;

    min-height: 32vh;
    transition: transform .2s ease;
}

.banner:hover {
    transform: scale(1.025);
}

.banner:hover .banner-illustration {
    transform: scale(1.025);
}

.banner:hover .banner-content {
    transform: scale(1.025);
}

.banner-content {
    height: calc(100vw* calc(210 / var(--reference-display-w)));
    width: 100%;
    border-radius: calc(100vw* calc(32 / var(--reference-display-w)));
    padding-left: calc(100vw* calc(50 / var(--reference-display-w)));
    padding-block: calc(100vw* calc(45 / var(--reference-display-w)));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    grid-row: 1;
    grid-column: 1;
    width: 100%;

    transition: all .2s ease;
}

.banner-content h2 {
    font-family: 'Gilroy Bold';
    margin: 0px;
    font-size: calc(100vw * calc(39 / var(--reference-display-w)));
}

.banner-content h3 {
    font-family: 'Gilroy Bold';
    margin: 0px;
    font-size: calc(100vw * calc(48 / var(--reference-display-w)));
    max-width: min-content;
    margin-bottom: 0.5ch;
}

.refcode {
    font-size: calc(100vw * calc(24 / var(--reference-display-w)));
    background: #232323;
    padding-inline: calc(100vw * calc(10 / var(--reference-display-w)));
    padding-block: calc(100vw * calc(7 / var(--reference-display-w)));
    border-radius: calc(100vw * calc(9 / var(--reference-display-w)));
    cursor: pointer;
}

.banner-illustration {
    height: calc(100vw * calc(553/ var(--reference-display-w)));
    pointer-events: none;
    left: 23%;
    width: 63%;
    height: auto;
    grid-row: 1;
    grid-column-start: 1;
    display: flex;
    padding-left: 43%;
    grid-column-end: 3;

    transition: all .2s ease;
}

.banner-illustration-long {
    pointer-events: none;
    z-index: 1;
    width: 116%;
    height: auto;
    margin-left: -16%;
    grid-row: 1;
    grid-column-start: 1;
    display: flex;
    grid-column-end: 3;
}

@media (aspect-ratio < 1/1) {
    .banner {
        min-height: 5vh;
        height: calc(100vw * calc(420/ var(--reference-display-w)));
    }

    .banners {
        flex-direction: column;
    }

    .banner-illustration {
        left: 44%;
    }
}
