@import 'fonts.css';
@import 'colors.css';
@import "variables.css";


@keyframes loader-icon {
    0% {
        transform: scale(2);
    }

    50% {
        transform: scale(3.5)
    }

    100% {
        transform: scale(2);
    }
}


body {
    font-family: 'Gilroy Regular', sans-serif;
    color: var(--fg-color);
    margin: 0px;
    height: auto;
    min-height: 120vh;
    overflow-x: hidden;
    font-size: calc(100vw * calc(22 / 1920));
    background-color: black;
    text-transform: uppercase!important;
    top: 0px;
    position: absolute;
}

.bg-filter-img {
    background: url(https://s.iimg.su/s/17/XZMCxkIAuNgs7WltnIyzLyDNLvyfiT6OG2liOYtc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 109vh !important;
    filter: saturate(0.4) blur(4px);
}

body a {
    color: var(--fg-color);
    text-decoration: none;
}

.bg-filter {
    background: linear-gradient(0deg, rgba(0,0,0,1) 20%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,1)90%);
    width: 100vw;
    height: calc(110vh + calc(100vw * calc(0.0588 * 0.690)));
    position: absolute;
    background-blend-mode: screen;
    top: 0px;
    left: 0px;
    z-index: -1;
}

#loader-icon {
    animation: 1.5s ease-in-out 0s infinite loader-icon;
}

.main-content {
    margin-inline: calc(100vw* 0.0588);
    width: auto;
    display: flex;
    gap: calc(100vw * calc(0.0588 * 0.690));
    flex-direction: column;

    margin-bottom: 28vh;
}

button {
    cursor: pointer!important;
}

.button {
    background-color: #0047FF;
    color: white;
    border-radius: calc(100vw * calc(16 / var(--reference-display-w)));
    border: none;
    text-transform: uppercase!important;
    font-size: calc(100vw * calc(22 / 1920));
    padding-inline: calc(100vw * calc(35 / var(--reference-display-w)));
    display: flex;
    align-items: center;

    cursor: pointer;
}

.super-button {
    aspect-ratio: 54/10;
    background: transparent;
    aspect-ratio: 5.4/1;
    height: calc(100vw * 0.0317707);
    font-size: inherit;
    color: inherit;
    text-transform: inherit;
    border: none;

    font-family: 'Gilroy Bold';

    display: grid;
    align-items: center;
    cursor: pointer;
}

.super-button-bg {
    background: linear-gradient(90deg, #0047FF 0%, #FF007A 100%);
    transform: skew(-22.5deg);
    border-radius: calc(100vw * calc(10 / 1920));
    width: 100%;
    height: 100%;
    display: block;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;

    box-shadow: none;
    transition: box-shadow .2s ease;
}

.super-button-bg:hover {
    box-shadow: -4px 4px 0px #FF007A, 4px -4px 0px #0047FF;
}

.super-button-bg.noactive {
    background: rgba(39, 39, 39, 1)!important;
}

.control-sec-title {
    font-family: 'Gilroy Regular';
}

.super-button-bg.noactive:hover {
    box-shadow: none;
}

.super-button-text {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    z-index: 10;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75ch;

    text-transform: uppercase;
}

.chat-btn {
    position: fixed;
    bottom: 0px;
    right: 6%;
    z-index: 1000;
    width: 8em;
}

.button-colorized {
    padding-block: calc(100vw * calc(21 / var(--reference-display-w)));
    font-size: calc(100vw * calc(16 / var(--reference-display-w)));
    border-radius: calc(100vw * calc(9 / var(--reference-display-w)));
    font-family: 'Gilroy Bold';
    text-transform: uppercase;
}

.blue {
    background: linear-gradient(180deg, #0047FF 0%, #4FA0FF 100%);
}

.rose {
    background: linear-gradient(180deg, #FF62CA 0%, #FF007A 100%);
}

.switch-input {
    width: calc(100vw * calc(58 / var(--reference-display-w)));
    height: calc(100vw * calc(24 / var(--reference-display-w)));
    background: #272727;
    display: flex;
    border-radius: calc(100vw * calc(24 / var(--reference-display-w)));
    cursor: pointer;
}

#l-contr-acc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch-inside-fig {
    border-radius: 50%;
    background: #838383;
    aspect-ratio: 1/1;
    height: 95%;
}

#prize-wrappper {
    position: fixed;

    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 10000;

    visibility: hidden;

    transition: opacity 0.3s ease, visibility 1s linear, backdrop-filter .5s ease;
}

@keyframes glow-rotate {
    0% {
        rotate: 0deg;
    }

    50% {
        rotate: 25deg;
    }

    100% {
        rotate: 0deg;
    }
}

@keyframes glow-flickering {
    0% {
        filter: brightness(1) hue-rotate(0deg);
    }

    25% {
        filter: brightness(.95) hue-rotate(90deg);
    }

    50% {
        filter: brightness(.9) hue-rotate(180deg);
    }
    100% {
        filter: brightness(1) hue-rotate(0deg);
    }
}

@keyframes glow-sizing {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.05);
    }

    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.prize-glow {
    position: fixed;
    height: 100vh;
    margin-inline:auto;
    opacity: 0;
    transform: scale(0);
    pointer-events: none;

    transition: transform 1.5s ease, opacity 1.5s ease-in-out, animation 1.5s ease-in-out;
}

.prize-glow.active {
    opacity: 1;
    transform: scale(1);
    animation: infinite ease-in-out 0s glow-flickering, infinite ease-in-out 0s glow-rotate, infinite ease-in-out 1.5s glow-sizing;
}

.prize-body {
    min-width: calc(100vw* calc(200 / var(--reference-display-w)));
    max-width: calc(100vw* calc(865 / var(--reference-display-w)));
    padding: calc(100vw* calc(25 / var(--reference-display-w)));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1ch;
    transform: scale(0);

    border-radius: calc(100vw* calc(32 / var(--reference-display-w)));

    transition: transform 1s ease-in-out;
}

.prize-body h3 {
    font-size: calc(100vw* calc(75 / var(--reference-display-w)));
    font-family: 'Gilroy Bold';
    margin: auto;
    text-align: center;
}

.prize-body span {
    font-size: calc(100vw* calc(50 / var(--reference-display-w)));
    padding: .1ch;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prize-body img {
    height: 100%;
    max-height: 30vh;
}

.close-prize-btn {
    margin-left: auto;
    background: linear-gradient(180deg, #FF62CA 0%, #FF007A 100%);
    border: none;
    border-radius: 1ch;
    height: 5vh;
    aspect-ratio: 1 / 1;
    padding: 1ch;
}

@media (aspect-ratio < 1/1) {
    .main-content {
        margin-top: 15vh;
        margin-inline: calc(100vw * 0.055208);
        gap: calc(100vw* calc(0.0588));
        margin-bottom: 50vh;
    }

    body {
        height: auto;
        max-width: 100vw;
    }

    .chat-btn {
        width: calc(100vw * calc(186 / 960));
    }

    .super-button-bg {
        border-radius: calc(100vw * calc(30 / 1920))!important;
    }

    .prize-glow {
        height: 100vw;
        rotate: 90deg!important;
    }

    .prize-body {
        width: 70vw;
        gap: 2vh;
        padding: 6vw;
    }

    .prize-body h3 {
        text-align: center;
    }

    .prize-body span {
        font-size: calc(100vw* calc(50 / var(--reference-display-w)))!important;
    }

    .prize-body .super-button {
        height: calc(126vw* 0.081771);
    }
}
