@font-face {
    font-family: "Gilroy Regular";
    font-weight: 500;
    src: url("../fonts/Gilroy-Regular.woff2") format("opentype");
}

@font-face {
    font-family: "Gilroy Bold";
    font-weight: 700;
    src: url("../fonts/Gilroy-Bold.woff2") format("opentype");
}


@font-face {
    font-family: "Gilroy SemiBold";
    font-weight: 600;
    src: url("../fonts/Gilroy-Semibold.woff2") format("opentype");
}


@font-face {
    font-family: "Gilroy Thin";
    font-weight: 400;
    src: url("../fonts/Gilroy-Light.woff2") format("opentype");
}
