.free-cases-sec {
    min-height: calc(100vw* calc(580 / 1920));
    width: 100%;
    background: top url(../img/tfborder.png), bottom url(../img/bfborder.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.free-cases-sec h2 {
    text-transform: uppercase;
    font-size: calc(100vw * calc(48 / 1920));
    margin-top: -1.6%;
}

.case-image {
    height: calc(100vw * calc(350 / 1920));
}

.cases-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    margin-bottom: 3%;
    list-style-type: none;
}

.case-data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-family: 'Gilroy Regular';
    text-transform: uppercase;
    font-weight: 500;
}

.case-data span {
    background: #232323;
    padding-inline: calc(100vw* calc(22 / 1920));
    padding-block: calc(100vw* calc(12 / 1920));
    border-radius: calc(100vw* calc(9 / 1920));
}
