@import "variables.css";

.free-cases-sec {
    min-height: calc(100vw* calc(580 / var(--reference-display-w)));
    width: 100%;
    background: top url(../img/tfborder.png), bottom url(../img/bfborder.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
}

.cases {
    display: flex;
    flex-direction: column;
    gap: calc(100vw* calc(0.0588* 0.690));
}

.free-cases-sec h2 {
    text-transform: uppercase;
    font-size: calc(100vw * calc(48 / var(--reference-display-w)));
    margin-top: -1.6%;
}

.case-image {
    height: calc(100vw * calc(330 / var(--reference-display-w)));

    transition: transform .2s ease;
}

.case-image:hover {
    transform: scale(1.025);
}

.cases-row {
    display: grid;
    margin: 0px;
    margin-bottom: 3%;
    list-style-type: none;
    padding: 0px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, auto);
    row-gap: 5vh;
    overflow: hidden;
    gap: 2ch;
}

.case-data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

h3 {
    font-family: 'Gilroy Regular';
    text-transform: uppercase;
    font-weight: 500;
    width: max-content;
    font-size: calc(100vw * calc(20 / var(--reference-display-w)));
}

.case-data span {
    background: linear-gradient(180deg, #FF62CA 0%, #FF007A 100%);
    padding-inline: calc(100vw* calc(22 / var(--reference-display-w)));
    padding-block: calc(100vw* calc(12 / var(--reference-display-w)));
    border-radius: calc(100vw* calc(9 / var(--reference-display-w)));
    text-align: center;
    padding-inline: 1ch;
}

@media (aspect-ratio < 1/1) {
    .free-cases-sec {
        background: rgb(20, 20, 20, .5);
        backdrop-filter: blur(10em);
        border-radius: calc(100vw* calc(36.5 / 960));
        padding: 2vh;
        background-color: #33333350;
        backdrop-filter: blur(calc(100vw* calc(30 / 1920)));
        border: calc(100vw* calc(1 / 1920)) solid #979797;
    }

    .cases-row {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .case-image {
        height: auto;
        width: 95%;
    }

    .free-cases-sec h2 {
        margin: 1.6%;
    }

    .case-data span {
        font-size: xx-large;
    }

    h3 {
        font-size: xx-large;
        max-width: min-content;
        text-align: center;
    }

    .case-data {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        height: 100%;
    }
}
