.bg-filter-img {
    background: url(/core/static/img/history-bg.jfif);
    background-size: cover;
    background-position: bottom;
}

.game-history-table {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: fit-content;
    margin-inline: auto;
    padding: 0px;
    gap: 1vw;
}

.game-history-table.drop {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.7vh;
}

.game-history-table.battles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.7vh;
    width: 100%;
}

.game-history-table.contract {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.contract-result {
    background: #0E0E0E;
    border-radius: 1em;
    border: 1.33px solid #979797;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 27vh;
    overflow: hidden;
    padding-left: 2ch;
}

.contract-result-price {
    font-size: large;
    border: none;
}

.contract-amount {
    width: 100%;
    text-align: center;
    font-size: x-large;

    display: flex;
    gap: .25ch;
    align-items: center;
    justify-content: center;
}

.contract-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: radial-gradient(50% 50% at 50% 50%, #282828 0%, #141414 100%);
    border: 1.33px solid #979797;
    border-radius: inherit;
    justify-content: space-between;
    padding: 1.5ch;
    height: -webkit-fill-available;
    min-width: 50%;
}

.game-history-table.battles article {
    background: #0E0E0E;
    border: 2px solid #484848;
    border-radius: calc(100vw * calc(22 / var(--reference-display-w)));
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: calc(100vw * calc(58 / var(--reference-display-w)));
}

.item-left, .item-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1ch;
}

.price {
    font-size: calc(100vw * calc(21 / var(--reference-display-w)));
}

.extra-info {
    display: flex;
    align-items: center;
    gap: 1ch;
}

.avatar {
    height: calc(100vw * calc(58 / var(--reference-display-w)));
    width: calc(100vw * calc(58 / var(--reference-display-w)));
}

.item-battle-img {
    width: 14ch;
    height: 14ch;
}

.case-img {
    width: 10ch;
    height: 10ch;
}

.game-history-table li {
    display: flex;
    flex-direction: row;
    gap: 2ch;
    background: #343434;
    padding: 1ch;
    border-radius: 1vw;
    min-width: 26vw;
    justify-content: space-between;
    align-items: center;
}

h3 {
    margin-top: 0px;
    margin-bottom: 5vh;
}

.item-price {
    width: 100%;
}

.game-history-nav-item {
    font-family: "Gilroy Regular";
    cursor: pointer;
    color: #b5b5b5;

    transition: all .2s ease;
}

.game-history-nav-item:hover {
    border-bottom: 3px solid;
    margin-bottom: -3px;
    color: white;
}

.game-history-nav-item.active {
    border-bottom: none!important;
    margin-bottom: 0px!important;
    color: #FF007A;
}

.game-history-nav {
    display: flex;
    justify-content: space-evenly;
    font-size: x-large;
    margin-bottom: 5vh;
}

.item-img {
    max-height: 4ch;
    max-width: 4ch;
}

.item-img img {
    max-width: 100%;
    max-height: 100%;
}

.is-win {
    height: 2ch;
    width: 2ch;
    background: red;
    border-radius: 50%;
}

.is-win.false {
    background: indianred;
}

.game-num {
    background: #111;
    border-radius: 1ch;
    padding: .3ch;
    min-width: 2ch;
    text-align: center;
}

.is-win.true {
    background: greenyellow;
}

h3 {
    text-align: center;
}

.empty-history {
    text-align: center;
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: calc(100vw * calc(82 / var(--reference-display-w)));
}

.case-drop-items {
    max-width: 10ch;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1ch;
    background: #111;
    border-radius: 1ch;
    padding: .3ch;
    min-width: 2ch;
}

.case-drop-items .case-img {
    padding-right: 1ch;
    border-right: 1px solid #343434;
}

.case-drop-items span {
    max-width: 4ch;
    max-height: 4ch;
}

.case-drop-items img {
    max-width: 4ch;
    max-height: 4ch;
}

.bonuse {
    grid-template-columns: 1fr 1fr;
}

.bonuse_ {
    background: #0E0E0E;
    border-radius: 1em;
    border: 1.33px solid #979797;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 27vh;
    overflow: hidden;
}

.bonuse_:hover {
    transform: scale(1.02);
    background-color: #FF007A;
}

@media (aspect-ratio < 1/1) {
    .game-history-table.drop {
        grid-template-columns: repeat(3, 1fr);
    }

    .bonuse_ {
        height: 20vw;
    }

    h3 {
        font-size: calc(100vw * calc(82 / var(--reference-display-w)));
    }

    .empty-history {
        font-size: calc(100vw * calc(42 / var(--reference-display-w)));
    }

    .game-history-sec {
        margin-top: 5vh;
    }

    .game-history-table {
        width: 100%;
    }

    .game-history-table li {
        font-size: xxx-large;
        border-radius: 7vw;
    }

    .game-history-sec .super-button {
        width: 70%;
        height: 6vh;
    }

    .game-history-sec .super-button-text {
        font-size: calc(100vw * calc(82 / var(--reference-display-w)));
    }

    .game-history-table.battles {
        grid-template-columns: 1fr;
    }

    .game-history-nav-item {
        font-size: larger;
    }

    .footer {
        margin-top: calc(100vw * calc(446 / var(--reference-display-w)));
    }

    .contract-result {
        height: 13vh;
    }

    .game-history-table.contract {
        grid-template-columns: repeat(2, 1fr);
    }
}
