.header-wrapper {
    margin-inline: calc(100vw * 0.0588);
    margin-block: calc(100vw * calc(0.0588 * 0.690));
    display: flex;
    font-size: calc(100vw * calc(22 / 1920));
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.navbar {
    display: flex;
    gap: calc(100vw * 0.016);
    justify-content: flex-start;
}

.navbar-items {
    display: flex;
    gap: calc(100vw * calc(32 / 1920));
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding-inline: calc(100vw * calc(32 / 1920));
}

.login-button {
    aspect-ratio: 54/10;
    background: transparent;
    aspect-ratio: 5.4/1;
    height: calc(100vw * 0.0317707);
    font-size: inherit;
    color: inherit;
    text-transform: inherit;
    border: none;

    font-family: 'Gilroy Bold';

    display: grid;
    align-items: center;
}

.login-button-bg {
    background: linear-gradient(90deg, #0047FF 0%, #FF007A 100%);
    transform: skew(-22.5deg);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: block;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;

    box-shadow: none;
    transition: box-shadow .2s ease;
}

.login-button-bg:hover {
    box-shadow: -4px 4px 0px #FF007A, 4px -4px 0px #0047FF;
}

.login-text {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    z-index: 10;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75ch;
}

.logo svg {
    height: calc(100vw * 0.040625);
}
