.header-wrapper {
    margin-inline: calc(100vw * 0.0588);
    margin-block: calc(100vw * calc(0.0588 * 0.690));
    display: flex;
    font-size: calc(100vw * calc(22 / 1920));
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.navbar {
    display: flex;
    gap: calc(100vw * 0.016);
    justify-content: flex-start;
}

.navbar-items {
    display: flex;
    gap: calc(100vw * calc(32 / 1920));
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding-inline: calc(100vw * calc(32 / 1920));
}

.logo svg {
    height: calc(100vw * 0.040625);
}
