@import "variables.css";

.dropped {
    aspect-ratio: 1/1;
    border-radius: calc(100vw * calc(32 / var(--reference-display-w)));
    width: calc(100vw * calc(196 / var(--reference-display-w)));
    min-width: calc(100vw * calc(196 / var(--reference-display-w)));
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: calc(100vw* calc(15 / var(--reference-display-w)));
    gap: 1.5ch;
    font-family: 'Gilroy Semibold';
}

.dropped-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.item-numeric-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-price {
    padding-inline: .25ch;
    font-size: calc(100vw* calc(20 / var(--reference-display-w)));
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5ch;
    margin: 0px !important;
    padding: .4ch;
    width: 40%;
    border-radius: 22ch;
    background: black;
    justify-content: center;
}

.item-price.purple {
    color: rgba(180, 42, 228, 1);
}

.item-price.blue {
    color: rgba(1, 176, 241, 1);
}

.item-price.pink {
    color: rgba(241, 0, 159, 1);
}

.item-price.red {
    color: rgba(254, 0, 0, 1);
}

.item-price.yellow {
    color: rgba(255, 255, 27, 1);
}

.item-price span {
    margin: 0px!important;
}

.item-price img {
    max-height: 1.5ch!important;
    max-width: 1.5ch!important;
    margin: 0px!important;
}

.item-title {
    font-size: 1.5ch;
    line-height: 1;
    color: black;
    font-weight: bolder;
    font-family: 'Gilroy Bold';
}

.dropped.mono {
    min-width: auto;
    aspect-ratio: 1 / 1;
    width: auto;
    font-size: calc(100vw* calc(10 / var(--reference-display-w)));
}

.dropped.mono span {
    margin-top: 15%;
    margin-right: 4.5ch;
}

.dropped.mono img {
    width: 112%;
    position: relative;
    left: -15%;
    margin-top: 15%;
}

.dropped.mono .w-line {
    background: rgba(217, 217, 217, 1);
    margin-left: calc(15vw* calc(164 / var(--reference-display-w)));
}

.dropped.regular {
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.dropped.rare {
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.dropped span {
    margin-left: 1ch;
    margin-right: 2.5ch;
    margin-top: 2ch;
}

.dropped svg {
    position: relative;
    top: calc(100vw * calc(71 / var(--reference-display-w)));
    left: calc(100vw * calc(17 / var(--reference-display-w)));
}

.w-line {
    height: calc(80vw * calc(196 / var(--reference-display-w)));
    margin-top: calc(10vw * calc(196 / var(--reference-display-w)));
    margin-left: calc(15vw * calc(196 / var(--reference-display-w)));
    min-width: calc(100vw * calc(1 / var(--reference-display-w)));
    background: white;
}

.live-string {
    display: flex;
    gap: calc(100vw* calc(48 / var(--reference-display-w)));
    height: calc(100vw* calc(196 / var(--reference-display-w)));
    overflow-x: visible;
    width: calc(100% + calc(86vw* 0.0588));
    padding-right: 1ch;
    max-width: 87.6vw;
}

.live-string::-webkit-scrollbar {
    display: none;
}

.dropped img {
    width: calc(100vw* calc(150 / var(--reference-display-w)));
    position: relative;
    left: 0%;
    margin-top: 10%;
}

@media (aspect-ratio < 1/1) {
    .live-string {
        width: 105.5%;
        overflow: scroll;
    }
}
