.lottery-banner {
    padding-inline: 2em;
    background: linear-gradient(90deg, rgba(79,160,255,1) 0%, rgba(0,71,255,1) 50%, rgba(29,75,195,1) 100%);
    border-radius: 2ch;
    display: flex;
    justify-content: space-between;
    height: 23vh;
}

.lottery-header {
    display: flex;
    flex-direction: column;
    gap: 1ch;
    justify-content: center;
    padding-block: 1ch;
}

.lottery-header-title {
    font-family: 'Gilroy Bold';
    font-size: 2.9em;
}

.lottery-timer {
    border-radius: 2ch!important;
    font-size: 0.8em;
}

.prizes-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: hidden;
    gap: 1em;
    justify-content: center;
}

.prize-gun {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.prize-gun-title {
    width: -webkit-fill-available;
    margin-top: 5%;
    font-family: 'Gilroy SemiBold';
    font-size: 1.4em;
}

.prize-gun.end {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.prize-gun-img {
    margin-top: 0%;
    width: 94%;
    height: max-content;
}

.prize-gun-title.end {
    width: -webkit-fill-available;
    margin-bottom: 5%;
    font-family: 'Gilroy SemiBold';
    font-size: 1.4em;
}

.prize-gun-img.end {
    margin-top: 0%;
    width: 80%;
    height: max-content;
    transform: rotate(64deg);
}
