.lottery-banner {
    padding-inline: 2em;
    background: linear-gradient(90deg, rgba(79,160,255,1) 0%, rgba(0,71,255,1) 50%, rgba(29,75,195,1) 100%);
    border-radius: 2ch;
    display: flex;
    justify-content: space-between;
    height: 23vh;

    transition: all .2s ease;
}

.lottery-banner:hover {
    transform: scale(1.025);
}

.lottery-banner:hover .lottery-header-title {
    transform: scale(1.075);
}

.lottery-banner:hover .lottery-timer {
    transform: scale(1.075);
}

.lottery-header {
    display: flex;
    flex-direction: column;
    gap: 1ch;
    justify-content: center;
    padding-block: 1ch;
}

.lottery-header-title {
    font-family: 'Gilroy Bold';
    font-size: 2.9em;

    transition: all .2s ease;
}

.mobile-guns-separator {
    display: none;
    width: 100%;
    background: #ccc;
    height: .25ch;
}

.lottery-timer {
    border-radius: 2ch!important;
    font-size: 0.8em;
}

.prizes-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: hidden;
    gap: 1em;
    justify-content: center;
}

.prize-gun {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.prize-gun-title {
    width: -webkit-fill-available;
    margin-top: 5%;
    font-family: 'Gilroy SemiBold';
    font-size: 1.4em;

    transition: all .2s ease;
}

.prize-gun.end {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.prize-gun-img {
    margin-top: -5%;
    width: 100%;
    height: max-content;

    transition: all .2s ease;
}

.prize-gun-title.end {
    width: -webkit-fill-available;
    margin-bottom: 5%;
    font-family: 'Gilroy SemiBold';
    font-size: 1.4em;
}

.prize-gun-img.end {
    width: 80%;
    height: max-content;
    transform: rotate(60deg);
    position: relative;
    top: 2ch;
}

.prize-gun:hover .prize-gun-img {
    transform: scale(1.5) rotate(5deg);
}

.prize-gun:hover .prize-gun-img.end {
    transform: scale(1.15) rotate(64deg);
}

.prize-gun:hover .prize-gun-title {
    transform: scale(1.2);
}


@media (aspect-ratio < 1/1) {
    .mobile-guns-separator {
        display: flex;
    }

    .prize-gun {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }

    .prize-gun.end {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .prize-gun-title {
        margin: 0px!important;
    }

    .prize-gun-img {
        transform: none!important;
        width: 28%!important;
        position: static!important;
    }

    .prizes-container {
        font-size: 2em;
        background: #1C1C1C;
        height: fit-content;
        padding: 2ch;
        border-radius: inherit;
        flex-direction: column;
    }

    .lottery-timer {
        font-size: calc(100vw * calc(23 / var(--reference-display-w)));
    }

    .lottery-header-title {
        font-size: calc(100vw* calc(55 / var(--reference-display-w)));
    }

    .lottery-header {
        gap: 2em;
    }

    .lottery-banner {
        border-radius: calc(100vw* calc(73 / 1920)) !important;
        height: auto;
        padding: 4ch;
    }
}
