.offer-window {
    max-width: calc(95% - 2em);
    border-radius: 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;

    background: url(https://s.iimg.su/s/28/oToA9ygk2Htnv3mmSRgvIWNylrhlvZgQaCkInOhE.png);
    background-color: #202020;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: 120% -2vh;
    /* aspect-ratio: 404 / 261; */
    max-width: 44vw;
}

.offer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3vh;
    padding: 2em;
    grid-row: 1;
    grid-column: 1;
    z-index: 2;
    background: linear-gradient(180deg, #14141450 -100%, #20202000 100%), linear-gradient(90deg, #141414 20%, #14141490 65%, #20202000 100%);
    border-radius: inherit;
}

.offer-content-title {
    font-family: 'Gilroy Bold';
    font-size: 4ch;
    max-width: 50%;
    text-align: left;
    margin: 0px;
    max-width: 60%;
}

.timer {
    padding: 1em;
    gap: 1ch;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #202020;
    border-radius: calc(100vw * calc(10 / 1920));
    border-radius: calc(100vw * calc(30 / 1920))!important;
}

.timer-ring {
    background: radial-gradient(closest-side, #202020 79%, transparent 80% 100%), conic-gradient(#ffffff 75%, rgb(255, 255, 255, .2) 0);
    aspect-ratio: 1/1;
    position: relative;
    display: flex;
    height: 5ch;
    border-radius: 50%;
}

.timer-data {
    display: flex;
    flex-direction: column;
}

.offer-secondary-info {
    max-width: 62%;
    text-transform: none;
    color: #eee;
}

.offer-button {
    min-width: 50%;
    max-width: 100%;
    min-height: 4ch;
    font-size: 1.2em;
}

.offer-button .super-button-bg {
    transform: none;
    background: #FF007A;
}

.offer-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.offer-cross {
    height: 6ch;
    background: url(https://s.iimg.su/s/28/Dw9xC5SalDvahqQFFGfOhDa8bf2RyPotJuuAdM72.png);
    aspect-ratio: 1 / 1;
    background-size: cover;
    border: none;
}

.dep-img-container {
    grid-row: 1;
    grid-column: 1;
    width: inherit;
    padding-left: 36%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 1;
    /* display: none; */
    padding-left: 60%;
    max-width: 60%;
}

.small-deposit-window {
    position: sticky;
    bottom: 5vh;
    left: 5vh;
    width: 16vw;
    min-width: 250px;
    aspect-ratio: 1/1;
    border-radius: 1ch;
    align-items: flex-end;
    justify-content: flex-end;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    cursor: pointer;

    transition: all .2s ease;
}

.small-banner-img {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
}

.small-offer-content {
    font-size: x-large;
    background-color: #20202090;
    background-size: cover;
    font-family: 'Gilroy SemiBold';
    padding: 1ch;
    border-radius: 1ch;
    grid-row: 1;
    grid-column: 1;
    backdrop-filter: blur(1em);
    outline: 1px solid #555;

    transition: all .2s ease;
}

.small-deposit-window:hover {
    transform: scale(1.05);
}

.small-deposit-window:hover .small-offer-content {
    transform: scale(1.075);
}

.small-close-cross {
    position: relative;
    grid-row: 1;
    grid-column: 1;
    top: -80%;);)%;);
    width: 10%;
    aspect-ratio: 1/1;
    background: url(https://cdn-icons-png.flaticon.com/512/1828/1828778.png);
    background-size: 100%;);
    filter: invert(1);
    border: none;
    border-radius: 50%;
    color: white;

    transition: all .2s ease;
}

.small-deposit-window:hover .small-close-cross {
    transform: scale(1.075);
}

@media(aspect-ratio < 1/1) {
    .offer-window {
        font-size: 3em;
        width: auto;
        max-width: 95%;
        background-size: 111%;
        background-position: -36% 0vh;
    }

    .offer-content-title {
        max-width: 100%;
    }

    .offer-button {
        width: 100%;
    }

    .dep-img-container {
        grid-row: 1;
        grid-column: 1;
        width: inherit;
        height: auto;
        padding-left: 0%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        z-index: 1;
    }

    .dep-img-container.img {
        width: 100%;
        left: 22%;
        position: relative;
        top: 15%;
    }

    .offer-button .super-button-bg {
        width: 100%;
    }

    .offer-content {
        width: auto;
    }
}
