.stats-table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: calc(100vw* calc(16 / 1920));
}

.stats-row {
    display: flex;
    justify-content: space-between;
    width: 83%;
    padding-block: 1ch;
}

.stat {
    display: flex;
    width: 10vw;
    gap: 1ch;
}

.stat img {
    max-height: 8ch;
}

.stat-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.stat-val {
    color: #FF007A;
    transition: opacity .2s ease;
}
