.stats-table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: calc(100vw* calc(16 / 1920));

    background-color: #33333320;
    backdrop-filter: blur(calc(100vw* calc(10 / 1920)));
    border: calc(100vw* calc(1 / 1920)) solid #979797;
    padding-inline: 2.511%;

    transition: all .2s ease;
}

.stats-row {
    display: flex;
    justify-content: space-between;
    width: 83%;
    padding-block: 1ch;
}

.stat {
    display: flex;
    width: 50%;
    gap: 1ch;
}

.stat img {
    max-height: 5ch;
}

.stat-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.stat-val {
    color: #FF007A;
    transition: opacity .2s ease;
    font-size: 1.5vw;
    font-weight: bolder;
}

.stat-name {
    font-size: 1.3vw;
}

.stats-table:hover {
    background-color: #33333350;
}

@media (aspect-ratio > 1) {
    #sr3 {
        display: none;
    }
}

@media (aspect-ratio < 3/2) {
    .stats-table {
        flex-direction: column;
        border-radius: calc(100vw * calc(16 / 1920))!important;
        padding-block: 2%!important;
        padding-inline: 5%!important;
    }

    .stats-row {
        width: 100%;
    }

    .stat-name {
        font-size: 1.8vw;
    }

    .stat-val {
        font-size: 2.5vw;
    }

    .stat img {
        max-height: 8ch;
    }
}

@media (aspect-ratio < 1/1) {
    .stats-row {
        display: flex;
        justify-content: space-between;
        width: 83%;
        padding-block: 1ch;
        width: 100%;
        gap: 19%;
    }

    .stats-table {
        background-color: #33333350;
        backdrop-filter: blur(calc(100vw* calc(30 / 1920)));
    }

    .stats-row {
        width: 83%!important;
    }

    .stats-table {
        border-radius: calc(100vw* calc(73 / 1920))!important;
    }

    .stat {
        display: grid;
        grid-template-columns: 22% 69%;
        gap: 4ch;
        justify-content: flex-start;
        width: 100%;
    }

    .stat-name, .stat-val {
        font-size: 3.1vw;
    }

    .flex-stat {
        display: none;
    }
}
