.stats-table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: calc(100vw* calc(16 / 1920));
}

.stats-row {
    display: flex;
    justify-content: space-between;
    width: 83%;
    padding-block: 1ch;
}

.stat {
    display: flex;
    width: 28%;
    gap: 1ch;
}

.stat img {
    max-height: 5ch;
}

.stat-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.stat-val {
    color: #FF007A;
    transition: opacity .2s ease;
    font-size: 1.5vw;
    font-weight: bolder;
}

.stat-name {
    font-size: 1.3vw;
}

@media (aspect-ratio < 1/1) {
    .stats-row {
        display: flex;
        justify-content: space-between;
        width: 83%;
        padding-block: 1ch;
        width: 100%;
        gap: 19%;
    }

    .stat {
        display: grid;
        grid-template-columns: 22% 69%;
        gap: 4ch;
        justify-content: flex-start;
        width: 100%;
    }

    .stat-name, .stat-val {
        font-size: 3.1vw;
    }

    .flex-stat {
        display: none;
    }
}

@media (aspect-ratio > 1) {
    #sr3 {
        display: none;
    }
}

@media (aspect-ratio < 3/2) {
    .stats-table {
        flex-direction: column;
    }

    .stat-name {
        font-size: 1.8vw;
    }

    .stat img {
        max-height: 8ch;
    }
}
