.upgrade-sec {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: start;
    row-gap: calc(100vw* calc(60 / 1920));
}

.upgrade-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upgrade-item-img {
    width: calc(100vw * calc(569 / 1920));
}

.item-card span {
    width: 60%;
}

.upgrade-chance {
    display: flex;
    align-items: center;
    height: 100%;
}

.ugpgrade-hint {
    font-size: calc(100vw* calc(14 / 1920));
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-inline: calc(100vw* calc(40 / 1920));
    background: rgba(51, 51, 51, 0.2);
    border: 1px solid rgba(151, 151, 151, 1);
    padding-inline: calc(100vw* calc(48 / 1920));
    padding-block: calc(100vw* calc(27 / 1920));
    gap: calc(100vw* calc(22 / 1920));
    border-radius: calc(100vw* calc(16 / 1920));
}

.ugpgrade-hint img {
    width: 80%;
}

.global-sharp {
    display: none;
}

body {
    height: auto;
    background: url('../img/upgrade-bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
}

.upgrade-item-img-gun {
    position: absolute;
    margin-top: 5vh;
    width: 15vw;
}

.item-card {
    background: radial-gradient(50% 50% at 50% 50%, rgba(93, 93, 93, 0.8) 0%, rgba(35, 35, 35, 0.8) 100%);
    min-width: auto;
    aspect-ratio: 1 / 1;
    width: auto;
    font-size: calc(100vw* calc(10 / 1920));
}

.item-card img {
    width: calc(100vw* calc(154 / var(--reference-display-w)));
    position: relative;
    left: -15%;
    margin-top: 5%;
}

.w-line {
    background: rgba(217, 217, 217, 1);
    margin-left: calc(15vw* calc(164 / var(--reference-display-w)));
}

.item-card span {
    margin-top: 4ch;
}

.grant-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: calc(100vw* calc(30 / 1920));
    column-gap: calc(100vw* calc(14 / 1920));
    max-width: calc(100vw* calc(517 / 1920));
}

.w-line {
    height: 77%;
}

.upgrade-items-desc {
    text-align: center;
    font-size: calc(100vw * calc(14 / 1920));
    max-width: 70%;
}
