.bg-filter-img {
    background: url(../img/upgrade-bg.jpg);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.upgrade-sec {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: start;
    row-gap: calc(100vw* calc(60 / 1920));
}

article:hover {
    transform: none!important;
}

.upgrade-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upgrade-item-img {
    width: calc(100vw * calc(569 / 1920));
    z-index: 100;
}

.upgrade-chance {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    height: calc(100vw* calc(282 / var(--reference-display-w)));
    aspect-ratio: 1/1;
    margin-top: 25%;
    justify-items: center
}

.upgrade-chance img {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
}

.upgrade-chance-percent {
    grid-row: 1;
    grid-column: 1;
    font-size: calc(100vw* calc(80 / var(--reference-display-w)));
    font-family: 'Gilroy Bold';
}

.ugpgrade-hint {
    font-size: calc(100vw* calc(14 / 1920));
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-inline: calc(100vw* calc(40 / 1920));
    background: rgba(51, 51, 51, 0.2);
    border: 1px solid rgba(151, 151, 151, 1);
    padding-inline: calc(100vw* calc(48 / 1920));
    padding-block: calc(100vw* calc(27 / 1920));
    gap: calc(100vw* calc(22 / 1920));
    border-radius: calc(2* calc(100vw* calc(22 / 1920)));
}

.ugpgrade-hint img {
    width: 80%;
}

@keyframes glow-rotate {
    0% {
        rotate: 0deg;
    }

    50% {
        rotate: 2.5deg;
    }

    100% {
        rotate: 0deg;
    }
}

@keyframes glow-flickering {
    0% {
        filter: brightness(1) hue-rotate(0deg);
        transform: scale(1);
    }

    25% {
        filter: brightness(.95) hue-rotate(90deg);
        transform: scale(1.05);
    }

    50% {
        filter: brightness(.9) hue-rotate(180deg);
        transform: scale(1.1);
    }
    100% {
        filter: brightness(1) hue-rotate(0deg);
        transform: scale(1);
    }
}

.receive-item-glow {
    position: absolute;
    height: 47vh;
    rotate: 180deg;
    z-index: 1000;
    top: 17vh;
    filter: brightness(1);
    pointer-events: none;
    transition: transform 3s ease, opacity 3s 1s ease-in-out;
}

body {
    height: auto;
    background: url('../img/upgrade-bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
}

.upgrade-item-img-gun {
    position: absolute;
    margin-top: 5vh;
    width: 11vw;
    transition: filter 5s linear, opacity .5s ease, transform .03s ease-out;
}

.grant-items {
    display: grid;
    grid-template-columns: repeat(3, calc(31.4vw* calc(517 / 1920)));
    row-gap: calc(100vw* calc(14 / 1920));
    column-gap: calc(100vw* calc(14 / 1920));
    max-width: calc(100vw* calc(517 / 1920));
    max-height: 45vh;
    width: calc(100vw* calc(517 / 1920));
    overflow-y: scroll;
    border-radius: calc(100vw* calc(32 / var(--reference-display-w)));
}

.grant-items::-webkit-scrollbar {
    display: none;
}

.upgrade-items-desc {
    text-align: center;
    font-size: calc(100vw * calc(14 / 1920));
    max-width: 70%;
}

.upgrade-item-img-gun-second {
    display: none;
}

.twin-items {
    display: none;
}

.items-list {
    display: none;
}

.dropped-content {
    height: 100%;
}

.upgrade-item-img-second {
    transition: filter 20s linear, opacity .5s ease;
}

.price-filter {
    grid-column-start: 1;
    grid-column-end: 4;
    border-radius: inherit;
    height: 10vh;
    display: flex;
    backdrop-filter: blur(5px);
    align-items: center;
    background: rgb(255, 255, 255, .15);
    justify-content: center;
}

.price-filter-input {
    border: 0px;
    background: transparent;
    text-align: center;
    font-size: 2ch;
    width: 30%;
    color: white;
}

.price-filter-button {
    height: 80%;
    border-radius: 1.6ch;
    border: 1px solid #FF007A;
    background-color: transparent;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Gilroy Bold';
    font-size: larger;
    padding-inline: 1ch;

    transition: background-color .2s ease;
}

.price-filter-input:focus-visible {
    outline: 0px;
}

.price-filter-button:hover {
    background-color: #FF007A;
}

#granted-balance {
    background: transparent;
    border: 0px;
    color: white;
    font-size: x-large;
    text-align: center;
    font-family: 'Gilroy Semibold';
}

.item-price {
    width: 100%;
}

#granted-balance:focus-visible {
    outline: 0px;
}

@media (aspect-ratio < 1/1) {
    .bg-filter-img {
        background: url(/core/static/img/bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        background-position: center;
    }

    .upgrade-sec {
        grid-template-columns: 1fr;
    }

    .upgrade-chance {
        grid-row: 1;
        width: 42vw;
        margin-bottom: 5vh;
    }

    #second-u-i {
        display: none;
    }

    .upgrade-item {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: start;
        justify-items: center;
    }

    .upgrade-item-img {
        width: 85vw;
        grid-row: 1;
        grid-column: 1;
    }

    #granted-balance {
        font-size: xx-large;
        text-align: center;
    }

    .upgrade-item-img-gun-second {
        display: block;
        position: relative;
        width: calc(100vw * calc(329 / 960));
    }

    .upgrade-items-desc { display: none; }

    .upgrade-item-img-gun {
        display: none;
    }

    .twin-items {
        display: flex;
        grid-row: 1;
        grid-column: 1;
        gap: -100px;
    }

    .ugpgrade-hint {
        grid-row: 3;
        width: -webkit-fill-available;
        font-size: calc(100vw* calc(23 / 960));
        border-radius: calc(100vw* calc(18 / 960));
        padding-inline: 12.5%;
        padding-block: 5%;
        margin: 0px;
        gap: calc(100vw* calc(31 / 960));
    }

    .grant-items {
        display: none;
    }

    .items-list {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        width: -webkit-fill-available;
        text-align: center;
        gap: calc(100vw * 0.055208);
    }

    .left-items-list {
        row-gap: calc(100vw* calc(30 / 960));
        display: flex;
        flex-direction: column;
    }

    .items-feed {
        display: grid;
        gap: calc(100vw* calc(30 / 960));
        overflow-y: scroll;
        max-height: 42vh;
        grid-auto-rows: max-content;
    }

    .items-lists-border {
        height: 85%;
        margin-top: 6vh;
        background: white;
        width: 3px;
        background: #2E2E2E;
    }

    .item-price img {
        height: 100%;
    }

    .item-card {
        padding: 5ch;
    }

    .dropped {
        margin-inline: calc(100vw* calc(82 / 960));
    }

    .right-items-list {
        row-gap: calc(100vw* calc(30 / 960));
        display: flex;
        flex-direction: column;
    }

    .items-list-desc {
        font-size: calc(100vw* calc(20 / 960));
        padding-inline: calc(100vw* calc(37 / 960));
        font-family: 'Gilroy Thin';
    }

    .dropped.mono {
        font-size: calc(100vw* calc(19 / var(--reference-display-w)));
        border-radius: calc(100vw* calc(50 / var(--reference-display-w)));
        text-align: left;
    }

    .w-line {
        margin-top: calc(10vw * calc(290 / var(--reference-display-w)));
    }

    .dropped-content span {
        font-size: calc(100vw* calc(40 / var(--reference-display-w)))!important;
    }

    .price-filter {
    grid-column-start: 1;
    grid-column-end: 4;
    border-radius: inherit;
    height: 13vh;
    display: flex;
    backdrop-filter: blur(5px);
    align-items: center;
    background: rgb(255, 255, 255, .15);
    justify-content: center;
    flex-direction: column;
    border-radius: calc(100vw* calc(20 / var(--reference-display-w)));
    padding: 3vw;
    font-size: 4vw;
    gap: .5ch;
    }

    .price-filter-input {
        border-radius: inherit;
        border: 0px;
        background: rgb(20, 20, 20, .8);
        text-align: center;
        padding-block: .3ch;
        font-size: 2ch;
        width: 100%;
        color: white;
    }

    .price-filter-button {
        height: 20%;
        border-radius: inherit;
        background-color: #FF007A;
        color: white;
        font-weight: bolder;
        text-transform: uppercase;
        font-family: 'Gilroy Bold';
        font-size: larger;
        padding-inline: 1ch;
        transition: background-color .2s ease;
        width: 100%;
    }
}
