{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Account Inventory
{% endblock %}

{% block links %}
<link href="{% static 'css/latest-drops.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/inventory.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
<section class="inventory-sec">
    <h3>{% trans 'Inventory' %}</h3>
    <div class="inventory-items-table" id="inventory-items">

    </div>
</section>
{% endblock %}

{% block extrascripts %}
<script src="{% static 'js/inventory.js' %}" type="module"></script>
{% endblock %}
