{% load static %}
{% load i18n %}

<section class="banners" style="margin-top: -2%;">
    {% trans 'Fortune Wheel' as FORTUNE_WHEEL %}
    {% trans 'Go' as GO %}
    {% trans 'Promocode Banner Info' as PROMO_INFO %}

    {% include 'main/banner.html' with HEAD=PROMO_INFO REFCODE="NEWYEAR2025" IMAGEPATH="https://s.iimg.su/s/20/xMn1o34njpWdeUH1VYR5GMrOYysmsnHLAULFdoQV.png" %}
    {% include 'main/banner.html' with LONGHEAD=FORTUNE_WHEEL BUTTON=GO IMAGEPATH="/core/static/img/random-banner.png" LONGIMG=True URL='/fortune/' %}
</section>
