{% load static %}

<article class="banner" onclick="{% if URL %}location.href = '{{URL}}'{% endif %}">
    <div class="banner-content">
        {% if HEAD %}
            <h2>{{ HEAD }}</h2>
        {% elif LONGHEAD %}
            <h3>{{ LONGHEAD }}</h3>
        {% endif %}
        {% if REFCODE %}
            <a class="refcode" href="{% url 'replenish-promo' REFCODE %}">{{ REFCODE }}</a>
        {% elif BUTTON %}
            <button class="super-button">
                <span class="super-button-bg"></span>
                <span class="super-button-text">
                    {{ BUTTON }}
                </span>
            </button>
        {% endif %}
    </div>
    {% if IMAGEPATH %}
        <img src="{% static IMAGEPATH %}"
        class="{% if LONGIMG %}banner-illustration-long{% else %}banner-illustration{% endif %}">
    {% endif %}
</article>