{% load static %}
{% load i18n %}

<section class="free-cases-sec">
    <h2>{% trans 'Free Cases' %}</h2>
    <ul class="cases-row">
        <li class="case-data" onclick="location.href = '{% url 'case' 1 %}'">
            <img src="{% static 'img/caseimg.png' %}" class="case-image">
            <h3>бесплатный кейс №1</h3>
            <span>От 500р</span>
        </li>
        <li class="case-data" onclick="location.href = '{% url 'case' 1 %}'">
            <img src="{% static 'img/caseimg.png' %}" class="case-image">
            <h3>бесплатный кейс №1</h3>
            <span>От 500р</span>
        </li>
        <li class="case-data" onclick="location.href = '{% url 'case' 1 %}'">
            <img src="{% static 'img/caseimg.png' %}" class="case-image">
            <h3>бесплатный кейс №1</h3>
            <span>От 500р</span>
        </li>
        <li class="case-data" onclick="location.href = '{% url 'case' 1 %}'">
            <img src="{% static 'img/caseimg.png' %}" class="case-image">
            <h3>бесплатный кейс №1</h3>
            <span>От 500р</span>
        </li>
    </ul>
</section>