<section class="lottery-banner" id="lotteryBanner">
    <div class="lottery-header">
        <span class="lottery-header-title">Раздача скинов</span>
        <div class="timer lottery-timer">
            <div class="timer-ring" id="timerRing"></div>
            <div class="timer-data">
                <span style="font-size: .9em;">осталось:</span>
                <span style="font-size: 1.4em;font-family: 'Gilroy SemiBold';" id="timerValue">24:00:00</span>
            </div>
        </div>
    </div>
    <div class="prizes-container">
        <div class="prize-gun">
            <span class="prize-gun-title">Some Fire Gun</span>
            <img src="https://cdn.rust.tm/item/AK+Royale/300.png" class="prize-gun-img">
        </div>
        <div class="prize-gun end">
            <span class="prize-gun-title end">Some Fire Gun</span>
            <img src="https://cdn.rust.tm/item/Prancing+Pony+LR-300/300.png" class="prize-gun-img end">
        </div>
    </div>
</section>