<section class="lottery-banner" id="lotteryBanner">
    <div class="lottery-header">
        <span class="lottery-header-title">Раздача скинов</span>
        <div class="timer lottery-timer">
            <div class="timer-ring" id="lotteryBannerTimerRing"></div>
            <div class="timer-data">
                <span style="font-size: .9em;">осталось:</span>
                <span style="font-size: 1.4em;font-family: 'Gilroy SemiBold';" id="timerValue">24:00:00</span>
            </div>
        </div>
    </div>
    <div class="prizes-container">
        <div class="prize-gun" onclick="renderLotteryInfo(true)">
            <span class="prize-gun-title">
                <span style="margin-right: .25ch;color: #ddd;font-family: 'Gilroy Bold';">#1</span>
                <span id="first-gun-name">AK Royale</span>
            </span>
            <img src="https://cdn.rust.tm/item/AK+Royale/300.png" class="prize-gun-img">
        </div>
        <span class="mobile-guns-separator"></span>
        <div class="prize-gun end" onclick="renderLotteryInfo(false)">
            <span class="prize-gun-title end">
                <span style="margin-right: .25ch;color: #ddd;font-family: 'Gilroy Bold';">#2</span>
                <span id="second-gun-name">Prancing Pony LR 300</span>
            </span>
            <img src="https://cdn.rust.tm/item/Prancing+Pony+LR-300/300.png" class="prize-gun-img end">
        </div>
    </div>
</section>