{% load static %}
{% load i18n %}

<section class="stats">
    <div class="stats-table" style="
        border-radius: calc(100vw* calc(16 / 1920));
        background-color: #33333320;
        backdrop-filter: blur(calc(100vw* calc(10 / 1920)));
        border: calc(100vw* calc(1 / 1920)) solid #979797;
        padding-inline: 2.511%;
    ">
        <div class="stats-row" id="sr1">
            <div class="stat">
                <img src="{% static 'img/онлайн.png' %}">
                <div class="stat-data">
                    <span class="stat-name">
                        {% trans 'Online' %}
                    </span>
                    <span id="online-val" class="stat-val">
                        --
                    </span>
                </div>
            </div>
            <div class="stat">
                <img src="{% static 'img/пользователи.png' %}">
                <div class="stat-data">
                    <span class="stat-name">
                        {% trans 'Users' %}
                    </span>
                    <span id="users-val" class="stat-val">
                        --
                    </span>
                </div>
            </div>
            <div class="stat flex-stat">
                <img src="{% static 'img/кейс1.png' %}">
                <div class="stat-data">
                    <span class="stat-name">
                        {% trans 'Cases' %}
                    </span>
                    <span id="cases-val" class="stat-val">
                        --
                    </span>
                </div>
            </div>
        </div>
        <div class="stats-row" id="sr2">
            <div class="stat">
                <img src="{% static 'img/Контракты.png' %}">
                <div class="stat-data">
                    <span class="stat-name">
                        {% trans 'Contracts' %}
                    </span>
                    <span id="contracts-val" class="stat-val">
                        --
                    </span>
                </div>
            </div>
            <div class="stat">
                <img src="{% static 'img/буст 2.png' %}">
                <div class="stat-data">
                    <span class="stat-name">
                        {% trans 'Upgrades' %}
                    </span>
                    <span id="upgrades-val" class="stat-val">
                        --
                    </span>
                </div>
            </div>
            <div class="stat flex-stat">
                <img src="{% static 'img/Битва.png' %}">
                <div class="stat-data">
                    <span class="stat-name">
                        {% trans 'Battles' %}
                    </span>
                    <span id="battles-val" class="stat-val">
                        --
                    </span>
                </div>
            </div>
        </div>
        <div class="stats-row" id="sr3">
            <div class="stat">
                <img src="{% static 'img/кейс1.png' %}">
                <div class="stat-data">
                    <span class="stat-name">
                        {% trans 'Cases' %}
                    </span>
                    <span id="cases-val" class="stat-val">
                        --
                    </span>
                </div>
            </div>
            <div class="stat">
                <img src="{% static 'img/Битва.png' %}">
                <div class="stat-data">
                    <span class="stat-name">
                        {% trans 'Battles' %}
                    </span>
                    <span id="battles-val" class="stat-val">
                        --
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>