<form onsubmit="return sendMessage(event, '{{user.username}}');">
    <div class="form-group">
        <label for="inputMessage">Text message</label>
        <input type="text"
               class="form-control"
               id="inputMessage"
               aria-describedby="emailHelp"
               placeholder="Enter message">
        <small id="emailHelp"
               class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <button type="submit"
            class="btn btn-success">Send Message</button>
</form>