<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cases</title>
    <link rel="stylesheet" href="{% static 'css\cases.css' %}" type="text/css">
</head>
<body style="display: flex;">
    {% for cases_cat in cases %}
        <div>
            {% for case in cases_cat %}
                <div class="case">
                    <img src="{{ case.image_path }}">
                    <span>{{case.title}}</span>
                    <span>{{case.category}}</span>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</body>
</html>
