<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Hi

    <button onclick="send_create()">Create</button>
    <button onclick="send_cancel()">Cancel</button>
    <button onclick="send_conn()">Connect</button>

    <button onclick="get()">Get Drop</button>

    <div id="feed"></div>

    <script>
        const battleSocket = new WebSocket("ws://127.0.0.1:8000/products/ws/battle/");

        battleSocket.onmessage = function(event) {
            alert("Получены данные " + event.data);
        };

        function send_create() {
            battleSocket.send(JSON.stringify({
                "type": "cbr",
                "payload": {
                    "battle_case_id": {{ k }},
                }
            }));
        }

        function send_cancel() {
            battleSocket.send(JSON.stringify({
                "type": "crb",
                "payload": {
                    "battle_case_id": {{ k }},
                }
            }));
        }

        function send_conn() {
            battleSocket.send(JSON.stringify({
                "type": "ctr",
                "payload": {
                    "battle_case_id": {{ k }},
                }
            }));
        }
    </script>
    <script>
        const feedSocket = new WebSocket("ws://127.0.0.1:8000/products/ws/feed/");

        feedSocket.onmessage = function(event) {
            alert("Получены данные " + event.data);
        };

        function get() {
            feedSocket.send(JSON.stringify({
                "type": "get",
                "payload": {},
            }));
        }
    </script>
</body>
</html>
