<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Hi

    <button onclick="send_create()">Create</button>
    <button onclick="send_cancel()">Cancel</button>
    <button onclick="send_conn()">Connect</button>

    <script>
        const socket = new WebSocket("ws://127.0.0.1:8000/ws/battle/{{ k }}/");

        socket.onmessage = function(event) {
            alert("Получены данные " + event.data);
        };

        function send_create() {
            socket.send(JSON.stringify({
                "type": "cbr",
                "payload": {
                    "battle_case_id": {{ k }},
                }
            }));
        }

        function send_cancel() {
            socket.send(JSON.stringify({
                "type": "crb",
                "payload": {
                    "battle_case_id": {{ k }},
                }
            }));
        }

        function send_conn() {
            socket.send(JSON.stringify({
                "type": "ctr",
                "payload": {
                    "battle_case_id": {{ k }},
                }
            }));
        }
    </script>
</body>
</html>