{% extends 'base.html' %}
{% load static %}

{% block title %}
About | JackDrop
{% endblock %}

{% block links %}
<link type="text/css" rel="stylesheet" href="{% static 'css/long-docs.css' %}">
{% endblock %}

{% block main %}
<section class="long-doc-sec">
<h1 style="font-family: 'Gilroy Bold';font-size: calc(100vw * calc(70 / 1920));">О нас | JackDrop</h1>
<span style="font-size: calc(100vw * calc(30 / 1920));">
    JackDrop is a site dedicated to cases with skins for Rust!
By opening any case on our site, you can get any of the skins presented in the list of items dropped from the case. Cases vary in content, theme, style, cost, number of items dropped and other criteria.
Especially for our users, we collect unique cases with expensive and highest quality skins every day, regularly replenishing and expanding the list of products presented on the site for all price groups. Anyone can open cases, and opening cases on JackDrop is not only exciting, but also profitable! And our support service is always ready to help and assist in any situation ;)
Welcome to JackDrop!
</span>
</section>
{% endblock %}
