{% extends 'base.html' %}
{% load static %}

{% block title %}
About | JackDrop
{% endblock %}

{% block links %}
<link type="text/css" rel="stylesheet" href="{% static 'css/long-docs.css' %}">
{% endblock %}

{% block main %}
<section class="long-doc-sec">
<h1 style="font-family: 'Gilroy Bold';font-size: calc(100vw * calc(70 / 1920));">О нас | JackDrop</h1>
<span style="font-size: calc(100vw * calc(30 / 1920));">
    JackDrop - сайт, посвященный кейсам со скинами для Rust!
Открывая любой кейс на нашем сайте, ты можешь получить любой из скинов, представленных в списке выпадающих из кейса предметов. Кейсы различаются по содержимому, тематике, стилю, стоимости, количеству выпадающих предметов и другим критериям.
Специально для наших пользователей, мы ежедневно собираем уникальные кейсы с дорогими и наиболее качественными скинами, регулярно пополняя и расширяя список представленных на сайте товаров для всех ценовых групп. Открывать кейсы может каждый, а открывать кейсы на JackDrop не только увлекательно, но и выгодно! А наша служба поддержки всегда готова прийти на помощь и помочь в любой ситуации ;)
Добро пожаловать на JackDrop!
</span>
</section>
{% endblock %}
