{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Your Account | Jack Drop{% endblock %}

{% block links %}
<link href="{% static 'css/account.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/animations.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block main %}
<section class="account-layout" id="account" style="display: none;">
    <main class="account-id">
        <span class="profile-avatar-border">
            <img class="user-avatar" id="profile-avatar" style="height: 10vh;border-radius: calc(100vw* calc(20 / var(--reference-display-w)));" src="{% static 'img/account-avatar.png' %}">
        </span>
        <div class="account-data">
            <div class="account-name">
                <span class="account-usrname" id="usr-name">
                </span>
                <span class="account-lvl" id="balance"></span>
            </div>
        </div>
        <a href="{% url 'replenish' %}" class="button button-colorized blue donate-btn-acc">{% trans 'Replenish' %}</a>
    </main>
    <div class="account-level">
        <h3>{% trans 'Your Level' %}</h3>
        <div class="lvl-illustr">
            <div class="illustr-desc"><span>{% trans 'Points' %}</span><span><b id="bonus">... xp</b></span></div>
            <div class="diagram">
                <div style="width: 35%" id="diagram" class="diagram-filled"></div>
            </div>
        </div>
    </div>
<aside class="account-empty" style="padding-inline: calc(100vw* calc(50 / var(--reference-display-w)));">
    <h3>{% trans 'Trade Link' %}</h3>
    <input type="text" id="trade-link" placeholder="SET UP TRADE LINK" style="background: rgb(22, 22, 22);border: 0px;border-radius: 1ch;padding: 2ch;color: white;width: 57%;">
    <button style="
    width: 57%;
    background: linear-gradient(180deg, #FF62CA 0%, #FF007A 100%);
    font-family: 'Gilroy Bold';
    color: white;
    border-radius: 1ch;
    border: 0px;
    margin-top: 1ch;
    padding-block: calc(100vw * calc(21 / var(--reference-display-w)));
" onclick="updateUserTradeLink()">SET</button>
    <span style="
        font-size: 1em;
        color: #aaa;
        margin-top: 1ch;
        display: flex;
        align-items: center;
    ">
        <img src="https://img.icons8.com/?size=256&id=2800&format=png"
             style="max-width: 1.5ch;
                    margin-right: .5ch;
                    filter: contrast(0);
             ">
        Найти ссылку можно на сайте Steam -
        <a href="https://steamcommunity.com/id/me/tradeoffers/privacy#trade_offerz_access_url">*КЛИК*</a>
    </span>
</aside>
    <div class="account-controls">
        <a href="{% url 'inventory' %}" class="account-control" id="l-contr-acc">{% trans 'Inventory' %}</a>
        <button class="account-control" onclick="location.href = '{% url 'game-history' %}'" id="c-contr-acc">{% trans 'Game History' %}</button>
        <button class="account-control" id="r-contr-acc">{% trans 'Withdraws' %}</button>
    </div>
    <div class="account-inventory">
        <div class="count-items">
            {% trans 'All Items' %}
            <span id="total-inv-items-count"></span>
        </div>
        <div class="able-to-sell">
            {% trans 'Able To Sell' %}
            <i class="switch-input" id="switch-input">
                <i class="switch-inside-fig" id="switch-inside-fig"></i>
            </i>
        </div>
        <a href="{% url 'inventory' %}" id="see-all-btn" class="button button-colorized rose view-all-btn">
            {% trans 'See All' %}
        </a>
        <button class="button button-colorized rose sell-all-btn" id="sell-all">
            {% trans 'Sell All' %}
        </button>
    </div>
    <div class="inventory-items" id="empty-inventory-banner">
        <img src="{% static 'img/empty-inventory.png' %}">
        <span class="empty-inv-desc" id="empty-sec">
            <b>{% trans 'Empty Inventory' %}</b><span id="start-open">{% trans 'Start Open Cases' %}</span>
        </span>
        <button class="super-button open-case-button" onclick="location.href = '/?min=1'">
            <span class="super-button-bg"></span>
            <span class="super-button-text">
                {% trans 'Open' %} →
            </span>
        </button>
    </div>
</section>
{% endblock %}

{% block extrascripts %}
<script src="{% static 'js/inventoryCount.js' %}" type="module"></script>
<script src="{% static 'js/account.js' %}"></script>
<script src="{% static 'js/animations.js' %}" type="module"></script>
<script src="{% static 'js/inventory.js' %}" type="module"></script>
<script src="{% static 'js/replenish.js' %}" type="module"></script>
<script type="module">
    import { getCount } from "{% static 'js/inventoryCount.js' %}";
    import { printPrizeItem } from "{% static 'js/animations.js' %}";

    document.getElementById('footer-w').style.display = "none";

    async function setCount() {
        var countItemsResult = await getCount();

        if (countItemsResult > 0) {
            document.getElementById('empty-sec').innerHTML = '<b>{% trans 'Start Open Cases' %}</b>';
        } else {
            document.getElementById('account').style = "grid-template-rows: calc(100vw* calc(178 / var(--reference-display-w))) calc(100vw* calc(178 / var(--reference-display-w))) calc(100vw* calc(118 / var(--reference-display-w))) calc(100vw* calc(118 / var(--reference-display-w)))";
        }

        document.getElementById('total-inv-items-count').innerHTML = countItemsResult.total;
        if (countItemsResult.total) {document.getElementById("empty-inventory-banner").remove()}
    };

    async function checkAuth() {
        const data = new FormData();

        data.append('token', getAccess());

        const response = await sendRequest('/auth/api/token/verify/', {
            headers: new Headers(),
            method: "POST",
            body: data,
        });

        if (!response.ok) {
            location.href = '/auth/';
        } else {
            document.getElementById('account').style = '';
            document.getElementById('footer-w').style = '';
        }
    };

    async function checkDepositProcessed() {
        const urlParams = new URLSearchParams(window.location.search);

        if (urlParams.get('deposit')) {
            const hasFreeCase = urlParams.get("has_free_case");

            let redirectAfterReceivingCase;

            if (hasFreeCase) {
                redirectAfterReceivingCase = `/account/?has_free_case=${urlParams.get("has_free_case")}&free_case_img=${urlParams.get("free_case_img")}&free_case_title=${urlParams.get("free_case_title")}`
            } else {
                redirectAfterReceivingCase = '/account/'
            }

            let thanksForDeposit;

            if (getCookie('lang') == 'ru') {
                thanksForDeposit = `Депозит на ${urlParams.get('amount')} скрапа зачислен, удачи!`;
            } else {
                thanksForDeposit = `Thanks for deposit ${urlParams.get('amount')} scrap`;
            }

            await printPrizeItem(
                '/core/static/img/scrap.png',
                urlParams.get('amount'),
                thanksForDeposit,
                redirectAfterReceivingCase,
                true
            );
            return
        } else if (urlParams.get('has_free_case') == 1) {
            let youReceiveCase;

            if (getCookie('lang') == 'ru') {
                youReceiveCase = `Вы получили кейс: ${urlParams.get("free_case_title")}`
            } else {
                youReceiveCase = `You receive case: ${urlParams.get("free_case_title")}`
            }

            await printPrizeItem(
                urlParams.get("free_case_img"),
                0,
                youReceiveCase,
                '/account/',
                true
            );
            return
        }
    }

    checkAuth();

    setCount();

    setTimeout(checkDepositProcessed, 500);
</script>
{% endblock %}
