<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/header.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/footer.css' %}" type="text/css" rel="stylesheet">
    {% block links %}
    {% endblock %}
</head>
<body>
    <div class="bg-filter"></div>
    <div class="global-sharp"></div>
    {% include 'header.html' %}
    <main class="main-content">
        {% block main %}
        {% endblock %}
    </main>
    <footer class="footer">
        <div class="site-info">
            <img src="{% static 'img/JD-mono.png' %}">
            <span class="c"><b>© 2018-2024 JackDrop</b><br>Лучшие кейсы RUST</span>
        </div>
        <span class="footer-mobile-info">
            Пользовательское соглашение<br>
            Соглашение о приватности<br>
            Контакты<br>
            FAQ<br>
        </span>
        <ul class="media-list">
            <li><img src="{% static 'img/tg-logo.png' %}"></li>
            <li><img src="{% static 'img/vk-logo.png' %}"></li>
            <li><img src="{% static 'img/ig-logo.png' %}"></li>
            <li><img src="{% static 'img/tw-logo.png' %}"></li>
        </ul>
    </footer>
    <script src="{% static 'js/header.js' %}"></script>
</body>
</html>