<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/header.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/cases-filter.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/latest-drops.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/banners.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/free-cases.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="bg-filter"></div>
    <div class="global-sharp"></div>
    {% include 'header.html' %}
    <main class="main-content">
        {% include 'cases-filter.html' %}
        {% include 'latest-drops.html' %}
        {% include 'banners.html' %}
        {% include 'free-cases.html' %}
        <img src="{% static 'img/chat.png' %}" class="chat-btn">
    </main>
</body>
</html>