{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Case Info | Jack Drop
{% endblock %}

{% block links %}
<link href="{% static 'css/latest-drops.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/case.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/animations.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
<section class="case-data-wrapper">
    <div class="case-info">
        <img class="case-img" id="case-img">
        <div class="case-border-line"></div>
        <div class="case-text-info">
            <h3 class="case-title" id="case-title"></h3>
            <h4 class="case-short-title" id="case-desc">...</h4>
            <div id="case-drop-data">
                <div class="super-button" id="price-label">
                    <span class="super-button-bg"></span>
                    <span class="super-button-text" id="price-label-span"></span>
                </div>
                <button class="super-button" id="open-case-btn">
                    <span class="super-button-bg noactive"></span>
                    <span class="super-button-text">{% if IS_SET %}{% trans 'Buy' %}→{% else %}{% trans 'Open' %}→{% endif %}</span>
                </button>
            </div>
        </div>
    </div>
    <div class="case-items-wrapper">
        <h3 class="case-title case-items-header">{% trans 'Case Payload' %}</h3>
        <div class="case-items" id="case-items">
        </div>
    </div>
    <audio preload="auto" style="display: none;" src="{% static 'mp3/case.mp3' %}"></audio>
</section>
{% endblock %}

{% block extrascripts %}
<script src="{% static 'js/animations.js' %}" type="module"></script>
<script src="{% static 'js/case.js' %}"></script>
<script src="{% static 'js/itemsSet.js' %}" type="module"></script>
<script type="module">
    import { getSet } from "{% static 'js/itemsSet.js' %}";

    {% if IS_SET %}
        window.getSet({{ set_id }});
    {% else %}
        getCase({{ case_id }});
    {% endif %}
</script>
{% endblock %}
