{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
Contract | Jack Drop
{% endblock %}

{% block links %}
<link href="{% static 'css/latest-drops.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/contract.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block main %}
<section class="contract">
    <div class="contract-cells">
        <span id="im1">1</span>
        <span id="im2">2</span>
        <span id="im3">3</span>
        <span id="im4">4</span>
        <span id="im5">5</span>
        <span id="im6">6</span>
        <span id="im7">7</span>
        <span id="im8">8</span>
        <span id="im9">9</span>
        <span id="im10">10</span>
    </div>
    <div class="inventory-items inventory-items-mobile" id="inventory-items-mob">
    </div>
    <div class="side-info">
        <div class="contract-hint">
            {% if request.LANGUAGE_CODE == 'ru' %}
                <img class="contract-hint-img" style="width: 100%;" src="{% static 'img/contract-hint.png' %}">
                <img class="contract-mobile-hint-img" style="width: 100%;" src="{% static 'img/contract-hint-mob.png' %}">
            {% else %}
                <img class="contract-hint-img" style="width: 100%;" src="{% static 'img/contract-hint-ru.png' %}">
                <img class="contract-mobile-hint-img" style="width: 100%;"
                     src="{% static 'img/contract-hint-mob-ru.png' %}">
            {% endif %}
        </div>
        <button class="super-button" id="cr-contract" onclick="makeContract();">
            <span class="super-button-bg"></span>
            <span class="super-button-text">{% trans 'Sign Contract' %}</span>
        </button>
        <button class="super-button" id="cl-contract" onclick="clearAll();">
            <span class="super-button-bg noactive"></span>
            <span class="super-button-text">{% trans 'Clear' %}</span>
        </button>
    </div>
    <div class="contract-circle">
        <span class="contract-amount" id="contract-amount">0</span>
        <img style="height: 76vh;pointer-events: none;" src="{% static 'img/contract-circle.png' %}">
    </div>
    <div class="inventory-items" id="inventory-items">
    </div>
</section>
{% endblock %}

{% block extrascripts %}
<script src="{% static 'js/contract.js' %}" type="module"></script>
{% endblock %}
