{% extends 'base.html' %}

{% load static %}

{% block title %}
Contract | Jack Drop
{% endblock %}

{% block links %}
<link href="{% static 'css/latest-drops.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/contract.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block main %}
<section class="contract">
    <div class="contract-cells">
        <img style="height: 100%;pointer-events: none;" src="{% static 'img/contract-cells.png' %}">
    </div>
    <div class="inventory-items inventory-items-mobile">
        <article class="inventory-item dropped regular">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="/static/img/testgun.png">
            </div>
        </article>
        <article class="inventory-item dropped regular">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="/static/img/testgun.png">
            </div>
        </article>
        <article class="inventory-item dropped regular">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="/static/img/testgun.png">
            </div>
        </article>
        <article class="inventory-item dropped regular">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="/static/img/testgun.png">
            </div>
        </article>
        <article class="inventory-item dropped regular">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="/static/img/testgun.png">
            </div>
        </article>
        <article class="inventory-item dropped regular">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="/static/img/testgun.png">
            </div>
        </article>
        <article class="inventory-item dropped regular">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="/static/img/testgun.png">
            </div>
        </article>
        <article class="inventory-item dropped regular">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="/static/img/testgun.png">
            </div>
        </article>
        <article class="inventory-item dropped regular">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="/static/img/testgun.png">
            </div>
        </article>
    </div>
    <div class="side-info">
        <div class="contract-hint">
            <img class="contract-hint-img" style="width: 100%;" src="{% static 'img/contract-hint.png' %}">
            <img class="contract-mobile-hint-img" style="width: 100%;" src="{% static 'img/contract-hint-mob.png' %}">
        </div>
        <button class="super-button" id="cr-contract">
            <span class="super-button-bg"></span>
            <span class="super-button-text">ПОДПИСАТЬ КОНРАКТ</span>
        </button>
        <button class="super-button" id="cl-contract">
            <span class="super-button-bg noactive"></span>
            <span class="super-button-text">Очистить</span>
        </button>
    </div>
    <div class="contract-circle">
        <img style="height: 76vh;pointer-events: none;" src="{% static 'img/contract-circle.png' %}">
    </div>
    <div class="inventory-items">
        <article class="inventory-item dropped regular">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="/static/img/testgun.png">
            </div>
        </article>
        <article class="inventory-item dropped regular">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="/static/img/testgun.png">
            </div>
        </article>
        <article class="inventory-item dropped regular">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="/static/img/testgun.png">
            </div>
        </article>
        <article class="inventory-item dropped regular">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="/static/img/testgun.png">
            </div>
        </article>
        <article class="inventory-item dropped regular">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="/static/img/testgun.png">
            </div>
        </article>
        <article class="inventory-item dropped regular">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="/static/img/testgun.png">
            </div>
        </article>
        <article class="inventory-item dropped regular">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="/static/img/testgun.png">
            </div>
        </article>
        <article class="inventory-item dropped regular">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="/static/img/testgun.png">
            </div>
        </article>
        <article class="inventory-item dropped regular">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="/static/img/testgun.png">
            </div>
        </article>
    </div>
</section>
{% endblock %}