{% load static %}

<section class="free-cases-sec">
    <h2>Бесплатные кейсы</h2>
    <ul class="cases-row">
        <li class="case-data">
            <img src="{% static 'img/caseimg.png' %}" class="case-image">
            <h3>бесплатный кейс №1</h3>
            <span>От 500р</span>
        </li>
        <li class="case-data">
            <img src="{% static 'img/caseimg.png' %}" class="case-image">
            <h3>бесплатный кейс №1</h3>
            <span>От 500р</span>
        </li>
        <li class="case-data">
            <img src="{% static 'img/caseimg.png' %}" class="case-image">
            <h3>бесплатный кейс №1</h3>
            <span>От 500р</span>
        </li>
        <li class="case-data">
            <img src="{% static 'img/caseimg.png' %}" class="case-image">
            <h3>бесплатный кейс №1</h3>
            <span>От 500р</span>
        </li>
    </ul>
</section>