{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Account Game History | JackDrop
{% endblock %}

{% block links %}
<link href="{% static 'css/latest-drops.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/case.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/game-history.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
<section class="game-history-sec">
    <h3>{% trans 'Game History' %}</h3>
    <span class="empty-history" id="empty-hist" style="display: none;">
        {% trans 'Empty Games History' %}
        <button class="super-button" style="margin-inline: auto;" onclick="location.href = '/'">
            <span class="super-button-bg"></span>
            <span class="super-button-text">{% trans 'Play' %}</span>
        </button>
    </span>
    <nav class="game-history-nav" id="main-nav">
        <a class="game-history-nav-item {% if section == 'drop' %}active{% endif %}" href="?sec=drop">{% trans 'Drops' %}</a>
        <a class="game-history-nav-item {% if section == 'battles' %}active{% endif %}" href="?sec=battles">{% trans 'Battles' %}</a>
        <a class="game-history-nav-item {% if section == 'contract' %}active{% endif %}" href="?sec=contract">{% trans 'Contracts' %}</a>
        <a class="game-history-nav-item {% if section == 'bonuse' %}active{% endif %}" href="?sec=bonuse">{% trans 'Every Day Bonuses' %}</a>
    </nav>
    <ul class="game-history-table {{section}}" id="game-history-table" style="display: none;">
    </ul>
</section>
{% endblock %}

{% block extrascripts %}
<script src="{% static 'js/gamesHistory.js' %}"></script>
{% endblock %}
