{% load static %}

<header class="header-wrapper" id="header">
    <div class="header-main-part" id="main-part-h">
        <div class="logo">
            <img src="{% static 'img/logo.png' %}">
        </div>
        <nav class="navbar" id="navbar">
            <ol class="navbar-items">
              <li class="navbar-item"><a href="#">Апргрейд</a></li>
              <li class="navbar-item navbar-item-active"><a href="#">Контракт</a></li>
              <li class="navbar-item"><a href="#">Сражения</a></li>
              <li class="navbar-item"><a href="#">События</a></li>
              <li class="navbar-item"><a href="#">Мины</a></li>
              <li class="navbar-item"><a href="#">КОЛЕСО ФОРТУНЫ</a></li>
            </ol>
        </nav>

        <button class="super-button">
            <span class="super-button-bg"></span>
            <span class="super-button-text">
                <img src="{% static 'img/steam.png' %}" style="height: 2.5ch;filter: invert(1)">
                <span id="large-lg-text">Вход через Steam</span>
                <span id="small-lg-text">Вход</span>
            </span>
        </button>

        <button class="sandwich-menu" id="menu-btn"></button>
    </div>
</header>
