{% load static %}
{% load i18n %}

<header class="header-wrapper" id="header">
    <div class="header-main-part" id="main-part-h">
        <a class="logo" href="/">
            <img src="{% static 'img/logo.png' %}">
        </a>

        <nav class="navbar" id="navbar">
            <ol class="navbar-items">
              <li class="navbar-item {% if section == 'upgrade' %}navbar-item-active{% endif %}">
                  <a href="{% url 'upgrade' %}">
                      {% trans 'Upgrade' %}
                  </a>
              </li>
              <li class="navbar-item {% if section == 'contract' %}navbar-item-active{% endif %}">
                  <a href="{% url 'contract' %}">{% trans 'Contract' %}</a>
              </li>
              <li class="navbar-item {% if section == 'battle' %}navbar-item-active{% endif %}">
                  <a href="{% url 'battle' %}">{% trans 'Battles' %}</a>
              </li>
              <li class="navbar-item {% if section == 'mines' %}navbar-item-active{% endif %}">
                  <a href="{% url 'mines' %}">{% trans 'Mines' %}</a>
              </li>
              <li class="navbar-item {% if section == 'fortune' %}navbar-item-active{% endif %}">
                  <a href="{% url 'fortune' %}">{% trans 'Fortune Wheel' %}</a>
              </li>
              <li class="navbar-item {% if section == 'bonus-buy' %}navbar-item-active{% endif %}">
                  <a href="{% url 'bonus-buy' %}">{% trans 'Bonus Buy' %}</a>
              </li>
            </ol>
        </nav>
    <div style="display: flex;">
        <div class="lang-switcher" id="lang-switch">
            <button class="button" onselect="setLang('en')" onclick="setLang('en')" id="en" style="border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;">
                <img src="{% static 'img/en.png' %}">
            </button>
            <button class="button" onselect="setLang('ru')" onclick="setLang('ru')" id="ru">
                <img src="{% static 'img/ru.png' %}">
            </button>
        </div>
        <button class="super-button replenish-header-btn" onclick="window.location.href = '/replenish/'">
            <span class="super-button-bg" style="background: greenyellow;box-shadow: none!important;"></span>
            <span class="super-button-text" style="color: #222;">
                <img src="https://cdn-icons-png.flaticon.com/128/9122/9122514.png" style="width: 3ch;">
            </span>
        </button>
        <button class="super-button" onclick="window.location.href = '/auth/'" id="auth-required-btn" style="display: none;">
            <span class="super-button-bg"></span>
            <span class="super-button-text">
                <img src="/core/static/img/steam.png" style="height: 2.5ch;filter: invert(1)">
                <span class="large-lg-text" id="long-enter-text">Вход через Steam</span>
                <span class="small-lg-text" id="short-enter-text">Вход</span>
            </span>
        </button>
    </div>

        <button class="sandwich-menu" id="menu-btn"></button>
    </div>
</header>
