{% load static %}

<section class="live-string">
    <article class="dropped regular">
        <div class="w-line"></div>
        <span>StatTrak™ MAC-10 | Neon Rider</span>
        <img src="{% static 'img/testgun.png' %}" style="width: calc(100vw* calc(196 / 1920));">
    </article>
    <article class="dropped rare">
        <div class="w-line"></div>
        <span>StatTrak™ MAC-10 | Neon Rider</span>
        <img src="{% static 'img/testgun.png' %}" style="width: calc(100vw* calc(196 / 1920));">
    </article>
    <article class="dropped regular">
        <div class="w-line"></div>
        <span>StatTrak™ MAC-10 | Neon Rider</span>
        <img src="{% static 'img/testgun.png' %}" style="width: calc(100vw* calc(196 / 1920));">
    </article>
    <article class="dropped rare">
        <div class="w-line"></div>
        <span>StatTrak™ MAC-10 | Neon Rider</span>
        <img src="{% static 'img/testgun.png' %}" style="width: calc(100vw* calc(196 / 1920));">
    </article>
    <article class="dropped regular">
        <div class="w-line"></div>
        <span>StatTrak™ MAC-10 | Neon Rider</span>
        <img src="{% static 'img/testgun.png' %}" style="width: calc(100vw* calc(196 / 1920));">
    </article>
    <article class="dropped rare">
        <div class="w-line"></div>
        <span>StatTrak™ MAC-10 | Neon Rider</span>
        <img src="{% static 'img/testgun.png' %}" style="width: calc(100vw* calc(196 / 1920));">
    </article>
    <article class="dropped regular">
        <div class="w-line"></div>
        <span>StatTrak™ MAC-10 | Neon Rider</span>
        <img src="{% static 'img/testgun.png' %}" style="width: calc(100vw* calc(196 / 1920));">
    </article>
    <article class="dropped rare">
        <div class="w-line"></div>
        <span>StatTrak™ MAC-10 | Neon Rider</span>
        <img src="{% static 'img/testgun.png' %}" style="width: calc(100vw* calc(196 / 1920));">
    </article>
    <article class="dropped rare">
        <div class="w-line"></div>
        <span>StatTrak™ MAC-10 | Neon Rider</span>
        <img src="{% static 'img/testgun.png' %}" style="width: calc(100vw* calc(196 / 1920));">
    </article>
    <article class="dropped regular">
        <div class="w-line"></div>
        <span>StatTrak™ MAC-10 | Neon Rider</span>
        <img src="{% static 'img/testgun.png' %}" style="width: calc(100vw* calc(196 / 1920));">
    </article>
    <article class="dropped rare">
        <div class="w-line"></div>
        <span>StatTrak™ MAC-10 | Neon Rider</span>
        <img src="{% static 'img/testgun.png' %}" style="width: calc(100vw* calc(196 / 1920));">
    </article>
    <article class="dropped regular">
        <div class="w-line"></div>
        <span>StatTrak™ MAC-10 | Neon Rider</span>
        <img src="{% static 'img/testgun.png' %}" style="width: calc(100vw* calc(196 / 1920));">
    </article>
    <article class="dropped rare">
        <div class="w-line"></div>
        <span>StatTrak™ MAC-10 | Neon Rider</span>
        <img src="{% static 'img/testgun.png' %}" style="width: calc(100vw* calc(196 / 1920));">
    </article>
</section>