{% extends 'base.html' %}
{% load static %}
{% block title %}Jack Drop{% endblock %}
{% block links %}
<link href="{% static 'css/cases-filter.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/stats.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/banners.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/free-cases.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/mainpage.css' %}" type="text/css" rel="stylesheet">
<style>
    .dropped img {
        width: calc(100vw* calc(150 / var(--reference-display-w)));
        position: relative;
        left: 0%;
        margin-top: 10%;
    }
</style>
{% endblock %}

{% block main %}
    {% include 'main/stats.html' %}
    {% include 'main/banners.html' %}
    {% include 'main/cases-filter.html' %}
    {% include 'main/free-cases.html' %}
{% endblock %}

{% block extrascripts %}
<script type="module">
    import { renderPrize } from "/core/static/js/prize.js";

    function getCookie(name) {
        let matches = document.cookie.match(new RegExp(
          "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ));
        return matches ? decodeURIComponent(matches[1]) : undefined;
    };

    function setCookie(name, value, options = {}) {

        options = {
            path: '/',
            ...options
        };

        if (options.expires instanceof Date) {
            options.expires = options.expires.toUTCString();
        }

        let updatedCookie = encodeURIComponent(name) + "=" + encodeURIComponent(value);

        for (let optionKey in options) {
            updatedCookie += "; " + optionKey;
            let optionValue = options[optionKey];
            if (optionValue !== true) {
                updatedCookie += "=" + optionValue;
            }
        }

        document.cookie = updatedCookie;
    }

    function agree() {
        if (!(document.getElementById('agreement-1').checked && document.getElementById('agreement-2').checked)) {
            alert("Fill all fields");
            return false;
        }

        setCookie('agree-cases', 1);
        location.href = location.href;
    }

    const urlParams = new URLSearchParams(window.location.search);
    const nowLogined = urlParams.get('after-login');

    if (nowLogined && !getCookie('agree-cases')) {
        renderPrize(`
            <div style="margin-inline: 4vw;display: grid;grid-template-rows: 1fr;grid-template-columns: 1fr;display: grid;grid-template-rows: 1fr;grid-template-columns: 1fr;justify-items: center;align-items: end;">
                <img src="/core/static/img/banner-man.png" style="grid-row: 1;grid-column: 1;max-height: 45vh;">
                <h3 style="margin: 0px;grid-row: 2;grid-column: 1;font-size: calc(100vw* calc(54 / var(--reference-display-w)));text-align: center;">
                    ПОДТВЕРДИТЕ<br>СОГЛАСИЕ
                </h3>
                <div style="gap: .5ch;margin-top: calc(100vw * calc(13 / var(--reference-display-w)));display: flex;justify-content: flex-start;width: 100%;">
                    <input type="checkbox" id="agreement-1" style="height: 3ch;width: 3ch;">
                    <label class="agreement-label" style="color: #f3f3f3;font-size: calc(100vw * calc(24 / var(--reference-display-w)))" for="agreement">ЧТО МНЕ БОЛЬШЕ 18 ЛЕТ</label>
                </div>
                <div style="gap: .5ch;margin-block: calc(100vw * calc(43 / var(--reference-display-w)));display: flex;justify-content: flex-start;width: 100%;margin-top: 1ch;">
                    <input type="checkbox" id="agreement-2" style="height: 3ch;width: 3ch;">
                    <label class="agreement-label" style="color: #f3f3f3;font-size: calc(100vw * calc(24 / var(--reference-display-w)))" for="agreement">Я ПРИНИМАЮ УСЛОВИЯ <a style="color: #0047FF;" href="/agreement/">ПОЛЬЗОВАТЕЛЬСКОГО СОГЛАШЕНИЯ</a></label>
                </div>
            </div>
            <div style="display: flex;flex-direction: row;gap: 2ch;" id="agree-btns">
                <button class="super-button" style="font-family: 'Gilroy SemiBold';" onclick="agree();">
                    <span class="super-button-bg" style="background: radial-gradient(50% 50% at 50% 50%, rgba(79, 160, 255, 0.8) 0%, rgba(0, 71, 255, 0.8) 100%);"></span>
                    <span class="super-button-text" style="font-size: x-large">Согласен</span>
                </button>
                <button class="super-button" style="font-family: 'Gilroy SemiBold'" onclick="location.href = location.href;">
                    <span class="super-button-bg" style="background: #979797;box-shadow: none;"></span>
                    <span class="super-button-text" style="font-size: x-large">Это не так</span>
                </button>
            </div>
        `);
    }

    window.agree = agree;
</script>
<script src="{% static 'js/pricesRange.js' %}"></script>
<script src="{% static 'js/caseCategorySetter.js' %}"></script>
<script src="{% static 'js/stats.js' %}"></script>
<script src="{% static 'js/casesCategories.js' %}"></script>
{% endblock %}
