{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Case Info | Jack Drop
{% endblock %}

{% block links %}
<link href="{% static 'css/refer.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/animations.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
<section class="refer-cabinet-container">
    <h1>
        <img id="refer-avatar" src="...">
        <span id="refer-name">User</span>
    </h1>
    <article class="refer-stat">
        <h2 class="refer-stat-value">3</h2>
        <span class="refer-stat-name">Активация промокодов</span>
    </article>
    <article class="refer-stat">
        <h2 class="refer-stat-value">4700</h2>
        <span class="refer-stat-name">Сумма депозитов</span>
    </article>
    <article class="refer-stat">
        <h2 class="refer-stat-value">5400</h2>
        <span class="refer-stat-name">Доход от пополнений</span>
    </article>
    <article class="refer-stat side-ref-info">
        <div class="ref-link">
            <span class="ref-link-field-name">Реферальная ссылка</span>
            <span class="ref-link-field" onclick="copyRefLink()">...</span>
        </div>
        <div>
            <h2 class="can-withdraw">100Р</h2>
            <button class="withdraw">Вывести</button>
        </div>
        <button class="withdraw-history">История выводов</button>
    </article>
    <article class="refer-stat stat-chart">
        Скоро здесь будет красивый график...
    </article>
</section>
{% endblock %}

{% block extrascripts %}
<script src="{% static 'js/animations.js' %}" type="module"></script>
{% endblock %}
