{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Replenish Account | Jack Drop
{% endblock %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/replenish.css' %}">
{% endblock %}

{% block main %}
<form class="replenish-form" id="replenish-form" onsubmit="addDeposit();return false;">
    <h3>{% trans 'Enter Replenish Data' %}</h3>
    <button class="form-field"
            onclick="document.getElementById('payment-type-2').classList.remove('active');
                     document.getElementById('payment-type-1').classList.add('active');
                     setPaymentMethod(1);
                     return false;"
            id="payment-type-1">
        <label for="payment-type-1">{% trans 'Selected Payment Method' %}</label>
        <span class="method-label"><img src="{% static 'img/atm-card.png' %}">Bank card [RUB] #1</span>
    </button>
    <button class="form-field"
            onclick="document.getElementById('payment-type-1').classList.remove('active');
                     document.getElementById('payment-type-2').classList.add('active');
                     setPaymentMethod(2);
                     return false;"
            id="payment-type-2">
        <label for="payment-type-2">{% trans 'Selected Payment Method' %}</label>
        <span class="method-label"><img src="{% static 'img/credit-card.png' %}">Crypto #2</span>
    </button>
    <span class="info">
        {% trans 'Replenish Info First' %}
    </span>
    <span class="info">
        {% trans 'Replenish Info Second' %}
    </span>
    <input class="data-input" placeholder="Промокод" type="text">
    <input class="data-input" placeholder="Введите сумму" id="amount" type="number" min=500>
    <div class="agreement-field">
        <input type="checkbox" id="agreement">
        <label class="agreement-label" for="agreement">{% trans 'Argeement String' %}</label>
    </div>

    <button class="super-button replenish-btn" onclick="return false;" type="submit">
        <span id="replenish-btn-bg" class="super-button-bg noactive"></span>
        <span class="super-button-text">{% trans 'Replenish Balance' %}</span>
    </button>
</form>
{% endblock %}

{% block extrascripts %}
<script src="{% static 'js/replenish.js' %}" type="module"></script>
{% endblock %}
