{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Replenish Account | Jack Drop
{% endblock %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/replenish.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/animations.css' %}">
{% endblock %}

{% block main %}
<form class="replenish-form" id="replenish-form" onsubmit="addDeposit();return false;">
    <h3>{% trans 'Enter Replenish Data' %}</h3>
    <div id="promocode-row">
        <input class="data-input"
               placeholder="Промокод"
               value="{% if PROMOCODE %}{{ PROMOCODE }}{% endif %}"
               id="promocode"
               contenteditable="{% if PROMOCODE %}false{% else %}true{% endif %}"
               max="16"
               type="text">
        <button class="data-input benefit-checker" type="reset" onclick="showBenegits(document.getElementById('promocode').value)">%</button>
    </div>
    <span class="promocode-benefits" style="display: none;" id="promocodeBenefits"></span>
    <div class="provider-selector-row" id="providerSelectorRow">
        <button class="data-input provider-selector selected" id="skinifySelector" type="button">
            <img src="https://skinify.io/favicon.ico">
            ОПЛАТА СКИНАМИ
        </button>
        <button class="data-input provider-selector" id="nicepaySelector" type="button">
            <img src="https://cdn-icons-png.flaticon.com/512/893/893081.png">
            СБП/КАРТЫ
        </button>
    </div>
    <div class="amount-selector-row blocked" id="amountSelectorRow">
        <input class="data-input" placeholder="Введите сумму" id="amount" type="number" min=500 max="100000">
        <button class="data-input preset" type="button" onclick="usePreset(1999)">1999</button>
        <button class="data-input preset" type="button" onclick="usePreset(4999)">4999</button>
        <button class="data-input preset" type="button" onclick="usePreset(14999)">14999</button>
    </div>
    <div class="agreement-field">
        <input type="checkbox" id="agreement">
        <label class="agreement-label" for="agreement">{% trans 'Argeement String' %}</label>
    </div>

    <button class="super-button replenish-btn" onclick="return false;" type="submit">
        <span id="replenish-btn-bg" class="super-button-bg noactive"></span>
        <span class="super-button-text">{% trans 'Replenish Balance' %}</span>
    </button>
</form>
<div class="replenish-person">
    <img class="replenish-person-img" src="https://s.iimg.su/s/21/PggZsP25waBMKpdoUPJCZB1W3GF5NeVBdN62gKH5.png">
</div>
<div style="display: none;" id="used-promo">{{ PROMOCODE }}</div>
{% endblock %}

{% block extrascripts %}
<script src="{% static 'js/animations.js' %}" type="module"></script>
<script src="{% static 'js/replenish.js' %}" type="module"></script>
{% endblock %}
