{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
Upgrade | Jack Drop
{% endblock %}

{% block links %}
<link href="{% static 'css/case.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/latest-drops.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/upgrade.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block main %}
<section class="upgrade-sec">
    <div class="upgrade-item">
        <div class="twin-items">
            <img class="upgrade-item-img-gun-second" id="u-m-1" src="{% static 'img/testgun.png' %}">
            <img class="upgrade-item-img-gun-second" id="u-m-2" src="{% static 'img/testgun.png' %}">
        </div>
        <img class="upgrade-item-img-gun" id="u-d-1" src="{% static 'img/testgun.png' %}">
        <img src="{% static 'img/upgrade-item-bg.png' %}" class="upgrade-item-img">
        <span class="upgrade-items-desc">{% trans 'Left Part Descriprion' %}
        </span>
    </div>
    <div class="upgrade-chance">
        <img id="update-chance-circle" src="{% static 'img/upgrade-chance-0.png' %}">
        <span class="upgrade-chance-percent" id="upgrade-percent">0%</span>
    </div>
    <div class="upgrade-item" id="second-u-i">
        <img class="upgrade-item-img-gun" id="u-d-2" src="{% static 'img/testgun.png' %}">
        <img class="receive-item-glow" style="transform: scale(0);opacity: 0;" id="receive-item-glow" src="{% static 'img/glow.png' %}">
        <img src="{% static 'img/upgrade-item-bg.png' %}" class="upgrade-item-img">
        <span class="upgrade-items-desc">{% trans 'Right Part Desctiption' %}</span>
    </div>
    <div class="grant-items" id="items-feed-desctop"></div>
    <div class="ugpgrade-hint">
        {% trans 'Hint First' %}
        <img src="{% static 'img/upgrade-hint-separator.png' %}">
        {% trans 'Hint Second' %}
        <img src="{% static 'img/upgrade-hint-separator.png' %}">
        <input type="number" min="1" step="1" placeholder="{% trans 'Granted Balance Funds' %}" id="granted-balance">
        <img src="{% static 'img/upgrade-hint-separator.png' %}">
        <button id="make-upgrade" onclick="" class="super-button">
            <span id="make-upgrade-bg" style="background: gray;box-shadow: none;" class="super-button-bg"></span>
            <span class="super-button-text">Апгрейд</span>
        </button>
    </div>
    <div class="grant-items" id="receive-items-feed-desctop">
        <article class="price-filter">
            <input class="price-filter-input" min="0" id="price-from" type="number" placeholder="от">
            <input class="price-filter-input" min="0" id="price-to" type="number" placeholder="до">
            <button class="price-filter-button"
                    onclick="updateReceiveList(document.getElementById('price-from').value, document.getElementById('price-to').value);">
                Искать
            </button>
        </article>
    </div>
    <div class="items-list">
        <div class="left-items-list">
            <span class="items-list-desc">{% trans 'Hint Second' %}</span>
            <div class="items-feed" id="items-feed"></div>
        </div>
        <div class="items-lists-border"></div>
        <div class="right-items-list">
            <span class="items-list-desc">
                {% trans 'Left Part Descriprion' %}
            </span>
            <article class="price-filter">
                <input class="price-filter-input" min="0" id="price-from-m" type="number" placeholder="от">
                <input class="price-filter-input" min="0" id="price-to-m" type="number" placeholder="до">
                <button class="price-filter-button"
                        onclick="updateReceiveList(document.getElementById('price-from-m').value, document.getElementById('price-to-m').value);">
                    Искать
                </button>
            </article>
            <div class="items-feed" id="receive-items-feed">

            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extrascripts %}
<script src="{% static 'js/upgrade.js' %}" type="module"></script>
{% endblock %}
