{% extends 'base.html' %}

{% load static %}

{% block title %}
Battles | Jack Drop
{% endblock %}

{% block links %}
<link href="{% static 'css/latest-drops.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/upgrade.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block main %}
<section class="upgrade-sec">
    <div class="upgrade-item">
        <img class="upgrade-item-img-gun" src="{% static 'img/testgun.png' %}">
        <img src="{% static 'img/upgrade-item-bg.png' %}" class="upgrade-item-img">
        <span class="upgrade-items-desc">Выберите один из ваших скинов слева, чтобы обновить его и получить более
            дорогой
        </span>
    </div>
    <div class="upgrade-chance"><img src="{% static 'img/upgrade-chance.png' %}"></div>
    <div class="upgrade-item">
        <img class="upgrade-item-img-gun" src="{% static 'img/testgun.png' %}">
        <img src="{% static 'img/upgrade-item-bg.png' %}" class="upgrade-item-img">
        <span class="upgrade-items-desc">Выберите скин справа, до которого вы хотите выполнить апгрейд</span>
    </div>
    <div class="grant-items">
        <article class="dropped mono">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="{% static 'img/testgun.png' %}">
            </div>
        </article>
        <article class="dropped mono">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="{% static 'img/testgun.png' %}">
            </div>
        </article>
        <article class="dropped mono">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="{% static 'img/testgun.png' %}">
            </div>
        </article>
        <article class="dropped mono">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="{% static 'img/testgun.png' %}">
            </div>
        </article>
        <article class="dropped mono">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="{% static 'img/testgun.png' %}">
            </div>
        </article>
        <article class="dropped mono">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="{% static 'img/testgun.png' %}">
            </div>
        </article>
    </div>
    <div class="ugpgrade-hint">
        Вы увидите вероятность успешного апгрейда. В случае неудачи, вы теряете свой скин/баланс
        <img src="{% static 'img/upgrade-hint-separator.png' %}">
        Вы также можете использовать баланс вашего счета в качестве входных данных вместо скина
    </div>
    <div class="grant-items">
        <article class="dropped mono">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="{% static 'img/testgun.png' %}">
            </div>
        </article>
        <article class="dropped mono">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="{% static 'img/testgun.png' %}">
            </div>
        </article>
        <article class="dropped mono">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="{% static 'img/testgun.png' %}">
            </div>
        </article>
        <article class="dropped mono">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="{% static 'img/testgun.png' %}">
            </div>
        </article>
        <article class="dropped mono">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="{% static 'img/testgun.png' %}">
            </div>
        </article>
        <article class="dropped mono">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="{% static 'img/testgun.png' %}">
            </div>
        </article>
    </div>
</section>
{% endblock %}
