{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
Battles | Jack Drop
{% endblock %}

{% block links %}
<link href="{% static 'css/latest-drops.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/upgrade.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block main %}
<section class="upgrade-sec">
    <div class="upgrade-item">
        <div class="twin-items">
            <img class="upgrade-item-img-gun-second" src="{% static 'img/testgun.png' %}">
            <img class="upgrade-item-img-gun-second" src="{% static 'img/testgun.png' %}">
        </div>
        <img class="upgrade-item-img-gun" src="{% static 'img/testgun.png' %}">
        <img src="{% static 'img/upgrade-item-bg.png' %}" class="upgrade-item-img">
        <span class="upgrade-items-desc">{% trans 'Left Part Descriprion' %}
        </span>
    </div>
    <div class="upgrade-chance"><img src="{% static 'img/upgrade-chance.png' %}"></div>
    <div class="upgrade-item" id="second-u-i">
        <img class="upgrade-item-img-gun" src="{% static 'img/testgun.png' %}">
        <img src="{% static 'img/upgrade-item-bg.png' %}" class="upgrade-item-img">
        <span class="upgrade-items-desc">{% trans 'Right Part Desctiption' %}</span>
    </div>
    <div class="grant-items">
        <article class="dropped mono">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="{% static 'img/testgun.png' %}">
            </div>
        </article>
        <article class="dropped mono">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="{% static 'img/testgun.png' %}">
            </div>
        </article>
        <article class="dropped mono">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="{% static 'img/testgun.png' %}">
            </div>
        </article>
        <article class="dropped mono">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="{% static 'img/testgun.png' %}">
            </div>
        </article>
        <article class="dropped mono">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="{% static 'img/testgun.png' %}">
            </div>
        </article>
        <article class="dropped mono">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="{% static 'img/testgun.png' %}">
            </div>
        </article>
    </div>
    <div class="ugpgrade-hint">
        {% trans 'Hint First' %}
        <img src="{% static 'img/upgrade-hint-separator.png' %}">
        {% trans 'Hint Second' %}
    </div>
    <div class="grant-items">
        <article class="dropped mono">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="{% static 'img/testgun.png' %}">
            </div>
        </article>
        <article class="dropped mono">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="{% static 'img/testgun.png' %}">
            </div>
        </article>
        <article class="dropped mono">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="{% static 'img/testgun.png' %}">
            </div>
        </article>
        <article class="dropped mono">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="{% static 'img/testgun.png' %}">
            </div>
        </article>
        <article class="dropped mono">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="{% static 'img/testgun.png' %}">
            </div>
        </article>
        <article class="dropped mono">
            <div class="w-line"></div>
            <div class="dropped-content">
                <span>StatTrak™ MAC-10 | Neon Rider</span>
                <img src="{% static 'img/testgun.png' %}">
            </div>
        </article>
    </div>
    <div class="items-list">
        <div class="left-items-list">
            <span class="items-list-desc">{% trans 'Hint Second' %}</span>
            <div class="items-feed">
                <article class="dropped mono">
                    <div class="w-line"></div>
                    <div class="dropped-content">
                        <span>StatTrak™ MAC-10 | Neon Rider</span>
                        <img src="{% static 'img/testgun.png' %}">
                    </div>
                </article>
                <article class="dropped mono">
                    <div class="w-line"></div>
                    <div class="dropped-content">
                        <span>StatTrak™ MAC-10 | Neon Rider</span>
                        <img src="{% static 'img/testgun.png' %}">
                    </div>
                </article>
                <article class="dropped mono">
                    <div class="w-line"></div>
                    <div class="dropped-content">
                        <span>StatTrak™ MAC-10 | Neon Rider</span>
                        <img src="{% static 'img/testgun.png' %}">
                    </div>
                </article>
                <article class="dropped mono">
                    <div class="w-line"></div>
                    <div class="dropped-content">
                        <span>StatTrak™ MAC-10 | Neon Rider</span>
                        <img src="{% static 'img/testgun.png' %}">
                    </div>
                </article>
                <article class="dropped mono">
                    <div class="w-line"></div>
                    <div class="dropped-content">
                        <span>StatTrak™ MAC-10 | Neon Rider</span>
                        <img src="{% static 'img/testgun.png' %}">
                    </div>
                </article>
            </div>
        </div>
        <div class="items-lists-border"></div>
        <div class="right-items-list">
            <span class="items-list-desc">
                {% trans 'Left Part Descriprion' %}
            </span>
            <div class="items-feed">
                <article class="dropped mono">
                    <div class="w-line"></div>
                    <div class="dropped-content">
                        <span>StatTrak™ MAC-10 | Neon Rider</span>
                        <img src="{% static 'img/testgun.png' %}">
                    </div>
                </article>
                <article class="dropped mono">
                    <div class="w-line"></div>
                    <div class="dropped-content">
                        <span>StatTrak™ MAC-10 | Neon Rider</span>
                        <img src="{% static 'img/testgun.png' %}">
                    </div>
                </article>
                <article class="dropped mono">
                    <div class="w-line"></div>
                    <div class="dropped-content">
                        <span>StatTrak™ MAC-10 | Neon Rider</span>
                        <img src="{% static 'img/testgun.png' %}">
                    </div>
                </article>
                <article class="dropped mono">
                    <div class="w-line"></div>
                    <div class="dropped-content">
                        <span>StatTrak™ MAC-10 | Neon Rider</span>
                        <img src="{% static 'img/testgun.png' %}">
                    </div>
                </article>
                <article class="dropped mono">
                    <div class="w-line"></div>
                    <div class="dropped-content">
                        <span>StatTrak™ MAC-10 | Neon Rider</span>
                        <img src="{% static 'img/testgun.png' %}">
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}
